    <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Confirmación Reserva
    </h1>

</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">

                    <div class="row">

                        <div class="col-md-12">

                            <h4>Detalles de la reserva</h4>

                        </div>


                    </div>

                    <hr>

                    <div class="row">

                        <div class="col-md-2">

                            <label>Vuelo ida:</label>

                        </div>

                        <div class="col-md-3">

                            <p style="background-color: white;">Miércoles, 28 de septiembre de 2016</p>

                        </div>

                        <div class="col-md-3">

                            <p>Caracas, Miami</p>

                        </div>


                    </div>
                    <hr>

                    <div class="row">
                        <div class="col-md-12">

                            <label>Tarifa</label>

                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">

                            <h5>Adultos</h5>

                        </div>
                        <div class="col-md-6">

                            <h5> 1 x $2,00</h5>

                        </div>


                    </div>

                    <div class="row">
                        <div class="col-md-6">

                            <h5>FC tarifa administrativa inter</h5>

                        </div>
                        <div class="col-md-6">

                            <h5>$7,50</h5>

                        </div>


                    </div>

                    <div class="row">
                        <div class="col-md-6">

                            <h5>Total</h5>

                        </div>
                        <div class="col-md-6">

                            <h5>$9,50</h5>

                        </div>


                    </div>

                    <div class="row">
                        <div class="col-md-12">

                            <label>Servicios adicionales</label>

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">

                            <h5>Maleta(1) 20kg</h5>

                        </div>
                        <div class="col-md-6">

                            <h5>$21,93</h5>

                        </div>


                    </div>

                    <div class="row">
                        <div class="col-md-6">

                            <h5>Total servicios adicionales</h5>

                        </div>
                        <div class="col-md-6">

                            <h5>$21,93</h5>

                        </div>


                    </div>

                    <div class="row">
                        <div class="col-md-12">

                            <label>Impuestos</label>

                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">

                            <h5>FC Impuesto de turismo EC - Adulto(s)</h5>

                        </div>
                        <div class="col-md-6">

                            <h5>$50,00</h5>

                        </div>


                    </div>

                    <div class="row">
                        <div class="col-md-6">

                            <h5>FC Impuesto de turismo CO - Adulto(s)</h5>

                        </div>
                        <div class="col-md-6">

                            <h5>$15,00</h5>

                        </div>


                    </div>

                    <div class="row">
                        <div class="col-md-6">

                            <h5>Tasa Aeroportuaria EC - Adulto(s)</h5>

                        </div>
                        <div class="col-md-6">

                            <h5>$53,82</h5>

                        </div>


                    </div>

                    <div class="row">
                        <div class="col-md-6">

                            <h5>FC Impuesto Instalaciones EC - Adulto(s)</h5>

                        </div>
                        <div class="col-md-6">

                            <h5>$5,00</h5>

                        </div>


                    </div>

                    <div class="row">
                        <div class="col-md-6">

                            <h5>FC Impuesto de Seguridad EC - Adulto(s)</h5>

                        </div>
                        <div class="col-md-6">

                            <h5>$3,00</h5>

                        </div>


                    </div>

                    <div class="row">
                        <div class="col-md-6">

                            <h5>Total Impuestos</h5>

                        </div>
                        <div class="col-md-6">

                            <h5>$126,82</h5>

                        </div>


                    </div>

                    <div class="row">
                        <div class="col-md-12">

                            <label>IVA</label>

                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">

                            <h5>FC Sales Tax -Adulto(s)</h5>

                        </div>
                        <div class="col-md-6">

                            <h5>$1,33</h5>

                        </div>


                    </div>

                    <div class="row">
                        <div class="col-md-6">

                            <h5>Maleta(1) 20kg -Adulto(s)</h5>

                        </div>
                        <div class="col-md-6">

                            <h5>$3,07</h5>

                        </div>


                    </div>

                    <div class="row">
                        <div class="col-md-6">

                            <h5>Total IVA</h5>

                        </div>
                        <div class="col-md-6">

                            <h5>$4,40</h5>

                        </div>


                    </div>

                    <div class="row">
                        <div class="col-md-6">

                            <h5>Total Vuelo Ida</h5>

                        </div>
                        <div class="col-md-6">

                            <h5>$162,65</h5>

                        </div>


                    </div>



                    <hr>

                    <div class="row">

                        <div class="col-md-2">

                            <label>Vuelo regreso:</label>

                        </div>

                        <div class="col-md-3">

                            <p style="background-color: white;">Sábado, 31 de septiembre de 2016</p>

                        </div>

                        <div class="col-md-3">

                            <p>Miami, Caracas</p>

                        </div>


                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">

                            <label>Tarifa</label>

                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">

                            <h5>Adulto(s)</h5>

                        </div>
                        <div class="col-md-6">

                            <h5>1 x $1,00</h5>

                        </div>


                    </div>

                    <div class="row">
                        <div class="col-md-6">

                            <h5>FC Tarifa Administrativa Inter</h5>

                        </div>
                        <div class="col-md-6">

                            <h5>$7,50</h5>

                        </div>


                    </div>

                    <div class="row">
                        <div class="col-md-6">

                            <h5>Total</h5>

                        </div>
                        <div class="col-md-6">

                            <h5>$8,50</h5>

                        </div>


                    </div>

                    <div class="row">
                        <div class="col-md-12">

                            <label>Servicios adicionales</label>

                        </div>

                    </div>



                    <div class="row">
                        <div class="col-md-6">

                            <h5>Maleta(1) 20kg</h5>

                        </div>
                        <div class="col-md-6">

                            <h5>$25,00</h5>

                        </div>


                    </div>

                    <div class="row">
                        <div class="col-md-6">

                            <h5>Total servicios adicionales</h5>

                        </div>
                        <div class="col-md-6">

                            <h5>$25,00</h5>

                        </div>


                    </div>

                    <div class="row">
                        <div class="col-md-12">

                            <label>Impuestos</label>

                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">

                            <h5>FC Tasa Aeroportuaria CO - Adulto(s)</h5>

                        </div>
                        <div class="col-md-6">

                            <h5>$37,00</h5>

                        </div>


                    </div>

                    <div class="row">
                        <div class="col-md-6">

                            <h5>Total Impuestos</h5>

                        </div>
                        <div class="col-md-6">

                            <h5>$37,00</h5>

                        </div>


                    </div>

                    <div class="row">
                        <div class="col-md-12">

                            <label>IVA</label>

                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">

                            <h5>FC Sales Tax - Adulto(s)</h5>

                        </div>
                        <div class="col-md-6">

                            <h5>$1,19</h5>

                        </div>


                    </div>

                    <div class="row">
                        <div class="col-md-6">

                            <h5>Total IVA</h5>

                        </div>
                        <div class="col-md-6">

                            <h5>$1,19</h5>

                        </div>


                    </div>

                    <div class="row">
                        <div class="col-md-6">

                            <h5>Total Vuelo Regreso</h5>

                        </div>
                        <div class="col-md-6">

                            <h5>$71,69</h5>

                        </div>


                    </div>

                    <hr>


                    <div class="row">
                        <div class="col-md-6">

                            <label>TOTAL</label>

                        </div>
                        <div class="col-md-6">

                            <h5>$234,34</h5>

                        </div>


                    </div>

                    <hr>


                    <div class="row">
                        <div class="col-md-2">
                                <button type="button" class="btn btn-block btn-primary btn-sm">Confirmar</button>
                        </div>

                        <div class="col-md-2">
                                <button type="button" class="btn btn-block btn-primary btn-sm">Guardar</button>
                        </div>

                        <div class="col-md-2">
                                <button type="button" class="btn btn-block btn-primary btn-sm">Imprimir</button>
                        </div>

                        <div class="col-md-2">
                                <button type="button" class="btn btn-block btn-danger btn-sm">Cancelar</button>
                        </div>

                    </div>

                    <!-- /.input group -->


                    <hr>

                    <br>
                </div>
            </div>
        </div>
    </div>

        <!-- /.row -->
</section>
<!-- /.content -->