<div class="row">
    <div class="col-md-12">
        <div class="box box-success">
            <div class="box-header with-border">
                <h1 class="box-title">Detalle Boleto</h1>
                <div class="box-tools pull-right">
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="form-group">


                        <div class="col-md-6">
                            <label>Origen:</label>
                            <input type="text" class="form-control" placeholder="Caracas" disabled>
                        </div>

                        <div class="col-md-6">
                            <label>Destino:</label>
                            <input type="text" class="form-control" placeholder="Miami" disabled>
                        </div>

                    </div>

                </div>

                <br>

                <div class="row">
                    <div class="form-group">


                        <div class="col-md-6">
                            <label>Fecha salida (IDA):</label>
                            <input type="text" class="form-control" placeholder="01/03/2017" disabled>
                        </div>

                        <div class="col-md-6">
                            <label>Fecha llegada (IDA):</label>
                            <input type="text" class="form-control" placeholder="02/03/2017" disabled>
                        </div>




                    </div>

                </div>

                <br>

                <div class="row">
                    <div class="form-group">

                        <div class="col-md-6">
                            <label>Hora salida (IDA):</label>
                            <input type="text" class="form-control" placeholder="12:00 am" disabled>
                        </div>

                        <div class="col-md-6">
                            <label>Hora llegada (IDA):</label>
                            <input type="text" class="form-control" placeholder="1:00 am" disabled>
                        </div>



                    </div>

                </div>

                <br>

                <div class="row">
                    <div class="form-group">


                        <div class="col-md-6">
                            <label>Fecha salida (VUELTA):</label>
                            <input type="text" class="form-control" placeholder="01/03/2017" disabled>
                        </div>

                        <div class="col-md-6">
                            <label>Fecha llegada (VUELTA):</label>
                            <input type="text" class="form-control" placeholder="02/03/2017" disabled>
                        </div>




                    </div>

                </div>

                <br>

                <div class="row">
                    <div class="form-group">

                        <div class="col-md-6">
                            <label>Hora salida (VUELTA):</label>
                            <input type="text" class="form-control" placeholder="12:00 am" disabled>
                        </div>

                        <div class="col-md-6">
                            <label>Hora llegada (VUELTA):</label>
                            <input type="text" class="form-control" placeholder="1:00 am" disabled>
                        </div>



                    </div>

                </div>

                <br>

                <div class="row">

                    <div class="col-md-6">
                        <label>Monto:</label>
                        <input type="text" class="form-control" placeholder="$280" disabled>
                    </div>

                    <div class="col-md-6">
                        <label>Tipo Boleto:</label>
                        <input type="text" class="form-control" placeholder="Ejecutivo" disabled>
                    </div>

                </div>

                <br>

                <div class="row">
                    <div class="form-group">

                        <div class="col-md-6">
                            <label>Nombre:</label>
                            <input type="text" class="form-control" placeholder="Luis" disabled>
                        </div>

                        <div class="col-md-6">
                            <label>Apellido:</label>
                            <input type="text" class="form-control" placeholder="Luis" disabled>
                        </div>


                    </div>

                </div>

                <br>

                <div class="row">

                    <div class="col-md-6">
                        <label>Número de pasaporte:</label>
                        <input type="text" class="form-control" placeholder="053519254" disabled>
                    </div>

                    <div class="col-md-6">
                        <label>Correo:</label>
                        <input type="text" class="form-control" placeholder="correo@gmail.com" disabled>
                    </div>


                </div>

                <br>

                <div class="row">



                </div>
            </div>
        </div>
    </div>
</div>  
