<script src="/Scripts/Scripts_Boletos/DatosUsuario.js"></script>

    <div class="row">
    <div class="col-md-12">
        <div class="box box-success">
            <div class="box-header with-border">
                <h1 class="box-title">Detalle Vuelo</h1>
                <div class="box-tools pull-right">
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="form-group">

                        <div class="col-md-6">
                            <label>Origen:</label>
                            <input type="text" class="form-control" placeholder="Caracas" disabled>
                        </div>

                        <div class="col-md-6">
                            <label>Destino:</label>
                            <input type="text" class="form-control" placeholder="Miami" disabled>
                        </div>

                    </div>

                </div>
                <br>

                <div class="row">
                    <div class="form-group">


                        <div class="col-md-6">
                            <label>Fecha salida (IDA):</label>
                            <input type="text" class="form-control" placeholder="01/03/2017" disabled>
                        </div>

                        <div class="col-md-6">
                            <label>Fecha llegada (IDA):</label>
                            <input type="text" class="form-control" placeholder="02/03/2017" disabled>
                        </div>




                    </div>

                </div>

                <br>

                <div class="row">
                    <div class="form-group">

                        <div class="col-md-6">
                            <label>Hora salida (IDA):</label>
                            <input type="text" class="form-control" placeholder="12:00 am" disabled>
                        </div>

                        <div class="col-md-6">
                            <label>Hora llegada (IDA):</label>
                            <input type="text" class="form-control" placeholder="1:00 am" disabled>
                        </div>



                    </div>

                </div>

                <br>

                <div class="row">
                    <div class="form-group">


                        <div class="col-md-6">
                            <label>Fecha salida (VUELTA):</label>
                            <input type="text" class="form-control" placeholder="01/03/2017" disabled>
                        </div>

                        <div class="col-md-6">
                            <label>Fecha llegada (VUELTA):</label>
                            <input type="text" class="form-control" placeholder="02/03/2017" disabled>
                        </div>




                    </div>

                </div>

                <br>

                <div class="row">
                    <div class="form-group">

                        <div class="col-md-6">
                            <label>Hora salida (VUELTA):</label>
                            <input type="text" class="form-control" placeholder="12:00 am" disabled>
                        </div>

                        <div class="col-md-6">
                            <label>Hora llegada (VUELTA):</label>
                            <input type="text" class="form-control" placeholder="1:00 am" disabled>
                        </div>



                    </div>

                </div>

                <br>

                <div class="row">
                    <div class="form-group">

                        <div class="col-md-6">
                            <label>Monto:</label>
                            <input type="text" class="form-control" placeholder="$280" disabled>
                        </div>


                        <div class="col-md-6">
                            <label>Escala(s):</label>
                            <input type="text" class="form-control" placeholder="Barcelona-Boston" disabled>
                        </div>


                    </div>

                </div>

                <br>
                <br>


                <div class="row">

                    <div class="col-md-12" style="margin-top:10px;">
                        <div class="col-md-4"></div>
                        <div class="col-md-2">
                            <button type="button" id="siguiente" class="btn btn-success" style="display:block; margin-left:auto; margin-right:auto;">Siguiente</button>
                        </div>
                        <div class="col-md-2">
                            <button id="cancel" type="button" class="btn btn-danger" style="display:block; margin-left:auto; margin-right:auto;">Cancelar</button>
                        </div>
                        <div class="col-md-4"></div>
                    </div>

                </div>



                <br>
            </div>
        </div>
    </div>
</div>  

