    <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Datos usuario
    </h1>

</section>

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">

                    <div class="row">

                        <div class="col-md-12">

                            Para ejecutar la venta del boleto se deben ingresar los datos del usuario

                        </div>

                    </div>

                    <hr>

                    <div class="row">

                        <div class="col-md-2">

                            <input type="text" class="form-control" placeholder="Primer nombre">

                        </div>

                        <div class="col-md-2">

                            <input type="text" class="form-control" placeholder="Segundo nombre">

                        </div>

                        <div class="col-md-2">

                            <input type="text" class="form-control" placeholder="Primer apellido">

                        </div>

                        <div class="col-md-2">

                            <input type="text" class="form-control" placeholder="Segundo apellido">

                        </div>


                    </div>

                    <hr>

                    <div class="row">

                        <div class="col-md-4">
                            <label>Fecha de nacimiento:</label>

                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" id="reservation">
                            </div>
                            <!-- /.input group -->
                        </div>


                        <div class="col-md-2">
                            <br>
                            <div class="form-group">

                                <label>
                                    <input type="checkbox" name="ridavuelta" class="minimal">
                                    Hombre
                                </label>

                            </div>
                        </div>


                        <div class="col-md-2">
                            <br>
                            <div class="form-group">

                                <label>
                                    <input type="checkbox" name="ridavuelta" class="minimal">
                                    Mujer
                                </label>

                            </div>
                        </div>



                    </div>

                    <hr>

                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">

                                <label>País:</label>
                                <select class="form-control select2" style="width: 100%;">
                                    <option selected="selected">Venezuela</option>
                                    <option>Estados Unidos</option>
                                    <option>España</option>
                                    <option>Italia</option>
                                    <option>Francia</option>
                                    <option>Alemania</option>
                                </select>

                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">

                                <label>Teléfono:</label>

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    <input type="text" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask>
                                </div>

                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="row">

                        <div class="col-md-8">

                            <input type="text" class="form-control" placeholder="Número de pasaporte/cédula">

                        </div>

                    </div>

                    <hr>

                    <div class="row">

                        <div class="col-md-8">

                            <input type="text" class="form-control" placeholder="Correo electrónico">

                        </div>

                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-4">
                            <button type="button" class="btn btn-block btn-primary btn-sm" onclick="llamarVistaDetalleBoleto();">Guardar Datos</button>
                        </div>

                        <div class="col-md-4">
                                <button type="button" class="btn btn-block btn-danger btn-sm">Regresar</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
</section>
<!-- /.content -->

<script src="/Scripts/Scripts_Boletos/DetalleBoleto.js"></script>