<script src="/Scripts/Scripts_Boletos/DetalleBoleto.js"></script>

   <div class="row">
    <div class="col-md-12">
        <div class="box box-success">
            <div class="box-header with-border">
                <h1 class="box-title">Datos Usuario</h1>
                <div class="box-tools pull-right">
                </div>
            </div>
            <div class="box-body">


                <div class="row">

                    <div class="col-md-6">

                        <label>Primer nombre:</label>
                        <input type="text" class="form-control" placeholder="Ej. Juan">

                    </div>

                    <div class="col-md-6">

                        <label>Segundo nombre:</label>
                        <input type="text" class="form-control" placeholder="Ej. Lionel">

                    </div>

                </div>

                <br>

                <div class="row">

                    <div class="col-md-6">

                        <label>Primer apellido:</label>
                        <input type="text" class="form-control" placeholder="Ej. Jimenez">

                    </div>

                    <div class="col-md-6">

                        <label>Segundo apellido:</label>
                        <input type="text" class="form-control" placeholder="Ej. Arango">

                    </div>

                </div>

                <br>

                <div class="row">

                    <div class="col-md-6">

                        <label>Fecha de nacimiento:</label>
                        <input type="date" class="form-control">

                    </div>

                    <div class="col-md-6">
                        <div class="form-group">

                            <label>Sexo:</label>
                            <select class="form-control select2" style="width: 100%;">
                                <option selected="selected">Masculino</option>
                                <option>Femenino</option>
                            </select>

                        </div>
                    </div>

                </div>

                <br>

                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">

                            <label>País:</label>
                            <select class="form-control select2" style="width: 100%;">
                                <option selected="selected">Venezuela</option>
                                <option>Estados Unidos</option>
                                <option>España</option>
                                <option>Italia</option>
                                <option>Francia</option>
                                <option>Alemania</option>
                            </select>

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">

                            <label>Teléfono:</label>

                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <input type="text" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask placeholder="Ej. (414)544-2014">
                            </div>

                        </div>
                    </div>
                </div>

                <br>

                <div class="row">

                    <div class="col-md-6">

                        <label>Número de pasaporte:</label>
                        <input type="text" class="form-control" placeholder="Ej. 237690944">

                    </div>

                    <div class="col-md-6">

                        <label>Correo electrónico:</label>
                        <input type="text" class="form-control" placeholder="Ej. pepitoperez@gmail.com">

                    </div>

                </div>


                <br>


                <div class="row">

                    <div class="col-md-12" style="margin-top:10px;">
                            <button type="button" id="siguiente" class="btn btn-success" style="display:block; margin-left:auto; margin-right:auto;">Siguiente</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

