    <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Vuelos disponibles
    </h1>

</section>

<!-- Main content -->
<section class="content">


    <!-- /.row -->

    <div class="row">
        <div class="col-md-12">


            <div class="box">
                <div class="box-header">
                    <!-- /.box-header -->
                    <div class="box-body">

                        <div class="box-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Id vuelo</th>
                                        <th>Origen</th>
                                        <th>Destino</th>
                                        <th>Fecha</th>
                                        <th>Hora</th>
                                        <th>Monto</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>001</td>
                                        <td>Caracas</td>
                                        <td>Miami</td>
                                        <td>01/01/2017</td>
                                        <td>10:00 am</td>
                                        <td>$300</td>
                                    </tr>
                                    <tr>
                                        <td>002</td>
                                        <td>Caracas</td>
                                        <td>Miami</td>
                                        <td>01/02/2017</td>
                                        <td>11:00 am</td>
                                        <td>$350</td>
                                    </tr>
                                    <tr>
                                        <td>003</td>
                                        <td>Caracas</td>
                                        <td>Miami</td>
                                        <td>01/03/2017</td>
                                        <td>12:00 am</td>
                                        <td>$280</td>
                                    </tr>
                                    <tr>
                                        <td>004</td>
                                        <td>Caracas</td>
                                        <td>Miami</td>
                                        <td>01/04/2017</td>
                                        <td>01:00 pm</td>
                                        <td>$500</td>
                                    </tr>
                                    <tr>
                                        <td>005</td>
                                        <td>Caracas</td>
                                        <td>Miami</td>
                                        <td>01/05/2017</td>
                                        <td>02:00 pm</td>
                                        <td>$700</td>
                                    </tr>
                                    <tr>
                                        <td>006</td>
                                        <td>Caracas</td>
                                        <td>Miami</td>
                                        <td>01/06/2017</td>
                                        <td>03:00 pm</td>
                                        <td>$420</td>
                                    </tr>
                                    <tr>
                                        <td>007</td>
                                        <td>Caracas</td>
                                        <td>Miami</td>
                                        <td>01/07/2017</td>
                                        <td>04:00 pm</td>
                                        <td>$570</td>
                                    </tr>
                                    <tr>
                                        <td>008</td>
                                        <td>Caracas</td>
                                        <td>Miami</td>
                                        <td>01/08/2017</td>
                                        <td>05:00 pm</td>
                                        <td>$540</td>
                                    </tr>


                                    </tbody>
                            </table>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-md-4">
                                <button type="button" class="btn btn-block btn-primary btn-sm" onclick="llamarVistaDetalleVuelo();">Ver detalle vuelo</button>
                            </div>

                            <div class="col-md-6">
                                    <button type="button" class="btn btn-block btn-danger btn-sm">Regresar</button>
                            </div>

                        </div>

                    </div>


                    <!-- /.box-footer -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <!-- /.row -->
    </div>
</section>
<!-- /.content -->

<script src="/Scripts/Scripts_Boletos/DetalleVuelo.js"></script>