@model IEnumerable<BOReserva.Models.gestion_usuarios.CUsuario>



 <!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-body">
            <h3>Listado de Usuarios</h3>
            <div class="row">
                <div class="col-xs-10">
                    <div class="row">
                        <div class="crTitles">
                            <div class="crNombre"> <b>Nombre</b></div>
                            <div class="crNombre"> <b>Email </b> </div>
                            <div class="crFechaf"> <b>Fecha Creacion</b> </div>
                            <div class="crCompania"> <b>Rol </b></div>

                            <div class="crStatus"><b>Status</b></div>
                            <div class="crAcciones"><b>Acciones</b> </div>
                        </div>
                        <div class="listCru">
                            <div class="crucero ">
                                <div class="crNombre"> <i class="fa fa-user"></i> Alfredo Peña</div>
                                <div class="crNombre"> alfredopeña@gmail.com</div>
                                <div class="crFechaf"> 12/09/2016 </div>
                                <div class="crCompania">Admin</div>

                                <div class="crStatus"><i class="fa fa-circle started"></i></div>
                                <div class="crAcciones"> <button type="button" class="fa fa-edit" data-toggle="modal" data-target="#modificarUsuario"></button>  <i class="fa fa-trash"></i> </div>
                            </div>
                            <div class="crucero ">
                                <div class="crNombre"> <i class="fa fa-user"></i> Ana Rojas </div>
                                <div class="crNombre"> anarojas@gmail.com </div>
                                <div class="crFechaf"> 09/05/2016 </div>
                                <div class="crCompania">Cargador</div>

                                <div class="crStatus"><i class="fa fa-circle started"></i></div>
                                <div class="crAcciones"> <button type="button" class="fa fa-edit" data-toggle="modal" data-target="#modificarUsuario"></button>  <i class="fa fa-trash"></i> </div>
                            </div>
                            <div class="crucero ">
                                <div class="crNombre"> <i class="fa fa-user"></i> Alexandra Perez </div>
                                <div class="crNombre"> alexandraperez@gmail.com </div>
                                <div class="crFechaf"> 31/07/2016 </div>
                                <div class="crCompania">Operador</div>

                                <div class="crStatus"><i class="fa fa-circle paused"></i></div>
                                <div class="crAcciones"> <button type="button" class="fa fa-edit" data-toggle="modal" data-target="#modificarUsuario"></button> <i class="fa fa-trash"></i> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-2">
                    <button type="button" class="btn btn-block btn-primary" data-toggle="modal" data-target="#crearUsuario">Crear Usuario</button>
                    <li id="gestionUsuarioss"><a href="#"><i class="fa fa-user"></i>Gestion De Usuarios</a></li>

                </div>
            </div>
        </div>
        <!-- /.box-body -->
        <!-- /.box-footer-->
    </div>
    <!-- /.box -->
</section>
<!-- Modal -->
<div class="modal fade" id="crearUsuario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Crear Usuario</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Nombre:</label>
                    <input type="text" class="form-control" placeholder="Introduce el nombre del usuario">
                </div>
                <div class="form-group">
                    <label>Email:</label>
                    <input type="text" class="form-control" placeholder="Introduce el email del usuario">
                </div>
                <div class="form-group">
                    <label>Contraseña:</label>
                    <input type="password" class="form-control" placeholder="Introduzca la contraseña del usuario">
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label>Rol</label>
                            <select class="form-control">
                                <option>Admin</option>
                                <option>Cargador</option>
                                <option>Operador</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label>Status</label>
                            <select class="form-control">
                                <option>Inactivo</option>
                                <option>Activo</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="gestionUsuarios">Crear Usuario</button>
                <li id="gestionUsuarioss"><a href="#"><i class="fa fa-user"></i>Gestion De Usuarios</a></li>
                
            </div>
        </div>
    </div>
</div>
<!-- /.content -->
<script>
$("#gestionUsuarioss").click(function (e) {
        e.preventDefault();
        var url = '/gestion_usuarios/M12_AgregarUsuario';
        var method = 'GET';
        var data = '';

        $.ajax(
            {
                url: url,
                type: method,
                data: data,
                success: function (data, textStatus, jqXHR) {

                    $("#contenido").empty();
                    $("#contenido").append(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });

});
</script>