<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo es utilizado por el proceso de paquete/publicación de nuestro proyecto Web. Puede personalizar el comportamiento de este proceso
editando este archivo MSBuild. Para conocer más acerca de esto, visite http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://foreserva-001-site1.ctempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://foreserva-001-site1.ctempurl.com:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>foreserva-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\foreserva-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="FOReserva.Models.BaseEntity" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="FOReserva.Models.BaseEntity, FOReserva" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="FOReserva.Models.ReservationModels" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="FOReserva.Models.ReservationModels, FOReserva" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="FOReserva.Models.Revision.CRevision" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="FOReserva.Models.Revision.CRevision, FOReserva" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="FOReserva.Models.Restaurantes.CReservation_Restaurant" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="FOReserva.Models.Restaurantes.CReservation_Restaurant, FOReserva" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="FOReserva.Models.Restaurantes.CRestaurantModel" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="FOReserva.Models.Restaurantes.CRestaurantModel, FOReserva" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DBReserva" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="FOReserva.Models.ORM.DBReserva, FOReserva" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DB_A1380A_reservaConnectionString" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=sql5032.smarterasp.net;Initial Catalog=DB_A1380A_reserva;Persist Security Info=True;User ID=DB_A1380A_reserva_admin;Password=ucabds1617a" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DB_A1380A_reservaConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=sql5032.smarterasp.net;Initial Catalog=DB_A1380A_reserva;Persist Security Info=True;User ID=DB_A1380A_reserva_admin;Password=ucabds1617a" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Backup" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=sql5032.smarterasp.net;Initial Catalog=DB_A1380A_reserva;Persist Security Info=True;User ID=DB_A1380A_reserva_admin;Password=ucabds1617a;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Backup_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.ORM.ModelDBReserva.csdl|res://*/Models.ORM.ModelDBReserva.ssdl|res://*/Models.ORM.ModelDBReserva.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5032.smarterasp.net;initial catalog=DB_A1380A_reserva;persist security info=True;user id=DB_A1380A_reserva_admin;password=ucabds1617a;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="FOReserva.Models.Diarios.CDiarioModel" Order="10" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="FOReserva.Models.Diarios.CDiarioModel, FOReserva" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="FOReserva.Models.Diarios.CFoto_Diario" Order="11" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="FOReserva.Models.Diarios.CFoto_Diario, FOReserva" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="12" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="FOReserva.Models.UsersContext, FOReserva" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Backup-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DBReserva-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DB_A1380A_reservaConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FOReserva.Models.BaseEntity-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FOReserva.Models.Diarios.CDiarioModel-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FOReserva.Models.Diarios.CFoto_Diario-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FOReserva.Models.ReservationModels-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FOReserva.Models.Restaurantes.CReservation_Restaurant-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FOReserva.Models.Restaurantes.CRestaurantModel-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FOReserva.Models.Revision.CRevision-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="FOReserva.Models.BaseEntity" />
    <_ConnectionStringsToInsert Include="FOReserva.Models.Diarios.CDiarioModel" />
    <_ConnectionStringsToInsert Include="FOReserva.Models.Diarios.CFoto_Diario" />
    <_ConnectionStringsToInsert Include="FOReserva.Models.ReservationModels" />
    <_ConnectionStringsToInsert Include="FOReserva.Models.Restaurantes.CReservation_Restaurant" />
    <_ConnectionStringsToInsert Include="FOReserva.Models.Restaurantes.CRestaurantModel" />
    <_ConnectionStringsToInsert Include="FOReserva.Models.Revision.CRevision" />
  </ItemGroup>
</Project>