@{
    ViewBag.Title = "Index";
}

@section styles {
    <style></style>
}

<h2>Mock: Gestion de Revisiones.</h2>

<div class="valoracion" data-id="1" data-type="1"></div>
<hr />
<div class="form-revision" data-id="1" data-type="1"></div>
<hr />
<div class="revisiones" data-id="1" data-type="1"></div>

@section scripts {    
    <script src="~/Scripts/gestion_revision/revisiones.js"></script>
    <script src="~/Scripts/gestion_revision/valoracion.js"></script>
}