@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div id="revisiones">

</div>
<script src="~/Scripts/gestion_revision/global.js"></script>
<script src="~/Scripts/gestion_revision/revisiones.js"></script>