@model FOReserva.Models.Vuelos.Cvista_Vuelos

<div class="heading-title">
    <h3><span>Vuelos</span></h3>
</div>

@*<form class="validate" action="php/contact.php" method="post" enctype="multipart/form-data" data-success="Sent! Thank you!" data-toastr-position="top-right">*@

@using (Html.BeginForm("buscarVuelo", "gestion_vuelos", null, FormMethod.Post, new { @id = "formBuscarVuelos", @class = "form-horizontal" }))
{
  <fieldset>
        <!-- required [php action request] -->
        <input type="hidden" name="action" value="contact_send" />

        <div class="row">
            <div class="form-group">
                <div class="col-md-6 col-sm-6">
                    <label>Origen</label>
                      @Html.TextBoxFor(m => m._prueba, null, new { @class = "form-control required", @name = "contact[first_name]" })
                    @*<input type="text" name="contact[first_name]" value="" class="form-control required">*@
                </div>
                <div class="col-md-6 col-sm-6">
                    <label>Destino</label>
                    <input type="text" name="contact[last_name]" value="" class="form-control required">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-md-6 col-sm-6">
                    <label>Fecha ida</label>
                    <input type="text" name="contact[start_date]" value="" class="form-control datepicker required" data-format="yyyy-mm-dd" data-lang="en" data-rtl="false">
                </div>
                <div class="col-md-6 col-sm-6">
                    <label>Fecha vuelta</label>
                    <input type="text" name="contact[start_date]" value="" class="form-control datepicker required" data-format="yyyy-mm-dd" data-lang="en" data-rtl="false">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-md-4 col-sm-4">
                    <label>Adultos</label>
                    <select name="contact[position]" class="form-control pointer required">
                        <option value="">--- Seleccionar ---</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="col-md-4 col-sm-4">
                    <label>Niños</label>
                    <select name="contact[position]" class="form-control pointer required">
                        <option value="">--- Seleccionar ---</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="col-md-4 col-sm-4">
                    <label>Bebes</label>
                    <select name="contact[position]" class="form-control pointer required">
                        <option value="">--- Seleccionar ---</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
            </div>
        </div>

    </fieldset>

    <div class="row text-center">
        <div class="col-md-12">
            <button type="button" id="buscarVuelo" class="btn btn-primary">Buscar</button>
        </div>
    </div>
<script>
    $("#buscarVuelo").click(function (e) {
        e.preventDefault();
        var form = $("#formBuscarVuelos");
        $.ajax({
            url: "gestion_vuelos/buscarVuelo",
            data: form.serialize(),
            type: 'POST',
            success: function (data) {
                alert("Buscando...");
                /*$('#formBuscarVuelos')[0].reset();*/
            }
        });
    });
</script>
    
    
    
}

@*</form>*@