<div class="relative">

    <img src="@Url.Content("~/Content/assets/images/demo/shop/home/man_cat.jpg")" alt="" />
    <div class="absolute text-left">
        <h2> - CLASE EJECUTIVA -</h2>
        <p>
            SELECCIONA LA DE TU PREFERENCIA !!!
        </p>

        <p class="font-lato margin-top-30 size-16 hidden-sm hidden-xs">Donec tellus massa, tristique sit amet condim vel,<br /> facilisis quis sapien. Praesent id enim sit amet.</p>
        <a class="btn btn-primary margin-top-20" href="#">Reserva ya &raquo;</a>
    </div>
</div>

<div class="relative">

    <img src="@Url.Content("~/Content/assets/images/demo/shop/home/woman_cat.jpg")" alt=" " />
    <div class="absolute text-right">
        <h2> - CLASE TURISTA -</h2>
        <p>
            SELECCIONA LA DE TU PREFERENCIA !!!
        </p>

        <p class="font-lato margin-top-30 size-16 hidden-sm hidden-xs">Donec tellus massa, tristique sit amet condim vel,<br /> facilisis quis sapien. Praesent id enim sit amet.</p>
        <a class="btn btn-primary margin-top-20" href="#">Reserva ya &raquo;</a>
    </div>
</div>