.color-azul {
    color: rgb(25, 126, 197) !important;
}

.color-gris-oscuro {
    color: rgb(130, 130, 130) !important;
}


.centrado{
    text-align:center;
    /* display: flex !important; */
    align-items: center;
    flex-direction: row;
    align-content: center;
}

#sample_1_length > label > span {
    overflow: hidden;
}

/*
#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index:10;
}

#footer > .container {
    padding: 0;
    margin: 0 auto;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align:center;
    max-height: 42px;
}

#socials {
    position: absolute;
}

#copyright {
    padding: 7px;
}
*/
#wrapper {
    margin-bottom: 42px;
}

#sample_1_wrapper {
    padding: 0 15px;
}