@model FOReserva.Models.Restaurantes.CRestaurantModel
@{
    ViewBag.Title = "Reservar Restaurante";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

        
           
                
      <center> <a class="btn btn-primary" href="@Url.Action("lista_reserva_restaurantes","gestion_reserva_restaurante")">Regresar</a></center>
            

            

}