@model BOReserva.Models.gestion_check_in.CCheckIn

@using (Html.BeginForm("buscarPases", "gestion_check_in", null, FormMethod.Post, new { @id = "formPasaportePase", @class = "form-horizontal" }))
{


    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h1 class="box-title">Registro de Equipaje </h1>
                    <div class="box-tools pull-right">
                    </div>
                </div>
                <div class="box-body">

                    <div class="row">

                        <div class="col-md-12">
                            <label>Número de pasaporte:</label>
                            @Html.TextBoxFor(m => m._pasaporte, null, new { @class = "form-control", @placeholder = "Ej. 237654242" })
                        </div>
                        <br>

                        <div class="row">

                            <div class="col-md-12" style="margin-top:10px;">
                                <button type="button" id="siguiente" class="btn btn-success" style="display:block; margin-left:auto; margin-right:auto;">Siguiente</button>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>
$("#siguiente").click(function (e) {
    e.preventDefault();
    var form = $("#formPasaportePase");
    $.ajax({
        url: "gestion_check_in/buscarPasesAbordaje",
        data: form.serialize(),
        type: 'POST',
        success: function (data) {

            $("#contenido").empty();
            $("#contenido").append(data);
        }
           , error: function (xhr, textStatus, exceptionThrown) {

               alert(xhr.responseText);
           }
    });
});
</script>