 #listaCruceros {
     width: calc(100% - 15px);
     min-height: 400px;
     margin-left: 15px;
     border-radius: 5px;
 }
 
 .crucero {
     border: 1px solid black;
     border-top: 0px
 }
 
 .crTitles {
     border: 1px solid black;
     border-radius: 5px 5px 0 0;
     background: #3c8dbc;
     color: white;
 }
 
 .crTitles .crNombre,
 .crTitles .crCompania,
 .crTitles .crCapacidad,
 .crTitles .crStatus {
     border-right: 1px solid black;
     padding: 5px 0;
 }
 
 .crNombre {
     padding-left: 10px!important;
     width: calc(100% - 442px);
     display: inline-block;
 }
 
 .crNombre .fa {
     color: #ddd
 }
 
 .crCompania {
     width: 200px;
     display: inline-block;
 }
 
 .crCapacidad {
     display: inline-block;
     width: 80px;
     text-align: center
 }
 
 .crStatus {
     width: 50px;
     display: inline-block;
     text-align: center
 }
 
 .crAcciones {
     width: 100px;
     display: inline-block;
     text-align: center
 }
 
 .crAcciones .fa {
     cursor: pointer
 }
 
 .crAcciones .fa-trash {
     background: #dd4b39;
     padding: 2px 5px;
     border-radius: 2px;
     color: white;
 }
 
 .crAcciones .fa-eye {
     background: #337ab7;
     padding: 2px 4px;
     border-radius: 2px;
     color: white;
 }
 
 .crAcciones .fa-pause {
     background: #3c8dbc;
     padding: 2px 5px;
     border-radius: 2px;
     color: white;
 }
 
 .crStatus .started {
     color: #00a65a
 }