<div class="box">
    <div class="box-body">
        <div class="box-header with-border">
            <h1 class="box-title"> Agregar Crucero</h1>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"></button>
            </div>
        </div>
        <div class="modal-body col-xs-6" id="bodyCruc">
            <div class="form-group">
                <label>Nombre del Crucero:</label>
                <input type="text" class="form-control" placeholder="Introduce el nombre del crucero">
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label>Compañia:</label>
                        <input type="text" class="form-control" placeholder="Introduce la compañia del crucero">
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label>Capacidad:</label>
                        <input type="number" class="form-control" placeholder="Introduce la capacidad del crucero">
                    </div>
                </div>
            </div>
            <hr>

        </div>
        <div class="row col-xs-6">
            <div class="col-xs-12">
                <p> <label>Cabinas y camarotes:</label> </p>
                <div id="cabinList">
                    <div class="box-group" id="accordion">
                        <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                        <div class="panel box">
                            <div class="box-header with-border" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" class="collapsed">
                                <p style="margin:0"> <b>Cabina 1 :</b> 150$ <i class="fa fa-circle started"></i><i class="fa fa-times" aria-hidden="true"></i><i class="fa fa-pencil editCabin" on-click="openEdit($event)" aria-hidden="true"></i></p>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                <div class="box-body">
                                    <ul>
                                        <li class="camarote">
                                            Camarote&nbsp;&nbsp;#105 -&nbsp;&nbsp;<i class="fa fa-circle started"></i>
                                            <ul>
                                                <li class="hab">2&nbsp;&nbsp;<i class="fa fa-bed" aria-hidden="true"></i>&nbsp;&nbsp;individuales</li>
                                            </ul>
                                        </li>
                                        <li class="camarote">
                                            Camarote&nbsp;&nbsp;#106 -&nbsp;&nbsp;<i class="fa fa-circle started"></i>
                                            <ul>
                                                <li class="hab">1&nbsp;&nbsp;<i class="fa fa-bed" aria-hidden="true"></i>&nbsp;&nbsp;matrimonial</li>
                                            </ul>
                                        </li>
                                        <li class="camarote">
                                            Camarote&nbsp;&nbsp;#107 -&nbsp;&nbsp;<i class="fa fa-circle paused"></i>
                                            <ul>
                                                <li class="hab"> 2&nbsp;&nbsp;<i class="fa fa-bed" aria-hidden="true"></i>&nbsp;&nbsp;literas</li>
                                            </ul>
                                        </li>
                                        <li class="camarote">
                                            Camarote&nbsp;&nbsp;#108 -&nbsp;&nbsp;<i class="fa fa-circle started"></i>
                                            <ul>
                                                <li class="hab">1&nbsp;&nbsp;<i class="fa fa-bed" aria-hidden="true"></i>&nbsp;&nbsp;individual</li>
                                            </ul>
                                        </li>
                                        <li class="camarote">
                                            Camarote&nbsp;&nbsp;#109 -&nbsp;&nbsp;<i class="fa fa-circle started"></i>
                                            <ul>
                                                <li class="hab">2&nbsp;&nbsp;<i class="fa fa-bed" aria-hidden="true"></i>&nbsp;&nbsp;matrimoniales</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel box">
                            <div class="box-header with-border" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed" aria-expanded="false">
                                <p style="margin:0"> <b> Cabina 2 :</b> 250$ <i class="fa fa-circle started"></i><i class="fa fa-times" aria-hidden="true"></i><i class="fa fa-pencil editCabin" on-click="openEdit($event)" aria-hidden="true"></i></p>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                <div class="box-body">
                                    <ul>
                                        <li class="camarote">
                                            Camarote&nbsp;&nbsp;#105 -&nbsp;&nbsp;<i class="fa fa-circle started"></i>
                                            <ul>
                                                <li class="hab">2&nbsp;&nbsp;<i class="fa fa-bed" aria-hidden="true"></i>&nbsp;&nbsp;individuales</li>
                                            </ul>
                                        </li>
                                        <li class="camarote">
                                            Camarote&nbsp;&nbsp;#106 -&nbsp;&nbsp;<i class="fa fa-circle started"></i>
                                            <ul>
                                                <li class="hab">1&nbsp;&nbsp;<i class="fa fa-bed" aria-hidden="true"></i>&nbsp;&nbsp;matrimonial</li>
                                            </ul>
                                        </li>
                                        <li class="camarote">
                                            Camarote&nbsp;&nbsp;#107 -&nbsp;&nbsp;<i class="fa fa-circle paused"></i>
                                            <ul>
                                                <li class="hab"> 2&nbsp;&nbsp;<i class="fa fa-bed" aria-hidden="true"></i>&nbsp;&nbsp;literas</li>
                                            </ul>
                                        </li>
                                        <li class="camarote">
                                            Camarote&nbsp;&nbsp;#108 -&nbsp;&nbsp;<i class="fa fa-circle started"></i>
                                            <ul>
                                                <li class="hab">1&nbsp;&nbsp;<i class="fa fa-bed" aria-hidden="true"></i>&nbsp;&nbsp;matrimonial</li>
                                            </ul>
                                        </li>
                                        <li class="camarote">
                                            Camarote&nbsp;&nbsp;#109 -&nbsp;&nbsp;<i class="fa fa-circle started"></i>
                                            <ul>
                                                <li class="hab">2&nbsp;&nbsp;<i class="fa fa-bed" aria-hidden="true"></i>&nbsp;&nbsp;matrimoniales</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel box">
                            <div class="box-header with-border" data-toggle="collapse" data-parent="#accordion" href="#collapse4" class="collapsed" aria-expanded="false">
                                <p style="margin:0"> <b>Cabina 3 :</b> 1500$ <i class="fa fa-circle started"></i><i class="fa fa-times" aria-hidden="true"></i><i class="fa fa-pencil editCabin" on-click="openEdit($event)" aria-hidden="true"></i></p>
                            </div>
                            <div id="collapse4" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                <div class="box-body">
                                    <ul>
                                        <li class="camarote">
                                            Camarote&nbsp;&nbsp;#105 -&nbsp;&nbsp;<i class="fa fa-circle started"></i>
                                            <ul>
                                                <li class="hab">2&nbsp;&nbsp;<i class="fa fa-bed" aria-hidden="true"></i>&nbsp;&nbsp;individuales</li>
                                            </ul>
                                        </li>
                                        <li class="camarote">
                                            Camarote&nbsp;&nbsp;#106 -&nbsp;&nbsp;<i class="fa fa-circle started"></i>
                                            <ul>
                                                <li class="hab">1&nbsp;&nbsp;<i class="fa fa-bed" aria-hidden="true"></i>&nbsp;&nbsp;matrimonial</li>
                                            </ul>
                                        </li>
                                        <li class="camarote">
                                            Camarote&nbsp;&nbsp;#107 -&nbsp;&nbsp;<i class="fa fa-circle paused"></i>
                                            <ul>
                                                <li class="hab"> 2&nbsp;&nbsp;<i class="fa fa-bed" aria-hidden="true"></i>&nbsp;&nbsp;literas</li>
                                            </ul>
                                        </li>
                                        <li class="camarote">
                                            Camarote&nbsp;&nbsp;#108 -&nbsp;&nbsp;<i class="fa fa-circle started"></i>
                                            <ul>
                                                <li class="hab">1&nbsp;&nbsp;<i class="fa fa-bed" aria-hidden="true"></i>&nbsp;&nbsp;individual</li>
                                            </ul>
                                        </li>
                                        <li class="camarote">
                                            Camarote&nbsp;&nbsp;#109 -&nbsp;&nbsp;<i class="fa fa-circle started"></i>
                                            <ul>
                                                <li class="hab">2&nbsp;&nbsp;<i class="fa fa-bed" aria-hidden="true"></i>&nbsp;&nbsp;matrimoniales</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel box">
                            <div class="box-header with-border" data-toggle="collapse" data-parent="#accordion" href="#collapse5" class="collapsed" aria-expanded="false">
                                <p style="margin:0"> <b> Cabina 4 :</b> 3000$ <i class="fa fa-circle paused"></i><i class="fa fa-times" aria-hidden="true"></i><i class="fa fa-pencil editCabin" on-click="openEdit($event)" aria-hidden="true"></i></p>
                            </div>
                            <div id="collapse5" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                <div class="box-body">
                                    <ul>
                                        <li class="camarote">
                                            Camarote&nbsp;&nbsp;#105 -&nbsp;&nbsp;<i class="fa fa-circle paused"></i>
                                            <ul>
                                                <li class="hab">2&nbsp;&nbsp;<i class="fa fa-bed" aria-hidden="true"></i>&nbsp;&nbsp;individuales</li>
                                            </ul>
                                        </li>
                                        <li class="camarote">
                                            Camarote&nbsp;&nbsp;#106 -&nbsp;&nbsp;<i class="fa fa-circle paused"></i>
                                            <ul>
                                                <li class="hab">1&nbsp;&nbsp;<i class="fa fa-bed" aria-hidden="true"></i>&nbsp;&nbsp;matrimonial</li>
                                            </ul>
                                        </li>
                                        <li class="camarote">
                                            Camarote&nbsp;&nbsp;#107 -&nbsp;&nbsp;<i class="fa fa-circle paused"></i>
                                            <ul>
                                                <li class="hab"> 2&nbsp;&nbsp;<i class="fa fa-bed" aria-hidden="true"></i>&nbsp;&nbsp;literas</li>
                                            </ul>
                                        </li>
                                        <li class="camarote">
                                            Camarote&nbsp;&nbsp;#108 -&nbsp;&nbsp;<i class="fa fa-circle paused"></i>
                                            <ul>
                                                <li class="hab">1&nbsp;&nbsp;<i class="fa fa-bed" aria-hidden="true"></i>&nbsp;&nbsp;matrimonial</li>
                                            </ul>
                                        </li>
                                        <li class="camarote">
                                            Camarote&nbsp;&nbsp;#109 -&nbsp;&nbsp;<i class="fa fa-circle paused"></i>
                                            <ul>
                                                <li class="hab">2&nbsp;&nbsp;<i class="fa fa-bed" aria-hidden="true"></i>&nbsp;&nbsp;matrimoniales</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-xs-offset-6" style="padding:0">
                        <button type="button" class="btn btn-block btn-primary" data-toggle="modal" data-target="#createCabin" style="margin-top:15px">Agregar cabina</button>
                    </div>
                </div>

                <!-- Fin Agregar Crucero  -->
                <!-- Botón Guardar -->
                <div>&nbsp;</div>


            </div>
        </div>
        <div class="col-md-12" style="margin-top:10px;">
            <button type="button" id="guardarCrucero" class="btn btn-success" style="display:block; margin-left:auto; margin-right:auto;">Guardar</button>
        </div>
    </div>
</div>
