@model BOReserva.Models.gestion_cruceros.CGestion_crucero
@using (Html.BeginForm("guardarCrucero", "gestion_cruceros", null, FormMethod.Post, new { @id = "formGuardarCrucero", @class = "form-horizontal" }))
{
    <div class="box">
        <div class="box-body">
            <div class="box-header with-border">
                <h1 class="box-title"> Agregar Crucero</h1>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"></button>
                </div>
            </div>
            <div class="modal-body col-xs-6" id="bodyCruc" style="margin-left:10%">
                <div class="form-group">
                    <label>Nombre del Crucero:</label>
                    @Html.TextBoxFor(m => m._nombreCrucero, null, new { @class = "form-control campo required", @placeholder = "Introduce el nombre del crucero", @id = "nombrecrucero" })
                    @*<input type="text" class="form-control" placeholder="Introduce el nombre del crucero">*@
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>Compañia:</label>
                            @Html.TextBoxFor(m => m._companiaCrucero, null, new { @class = "form-control", @placeholder = "Introduce el nombre de la compania", @id = "compania" })
                            @*<input type="text" class="form-control" placeholder="Introduce la compañia del crucero">*@
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>Capacidad:</label>
                            @Html.TextBoxFor(m => m._capacidadCrucero, null, new { @type = "number", @class = "form-control", @placeholder = "Introduce la capacidad del crucero", @id = "capacidad" })
                            @*<input type="number" class="form-control" placeholder="Introduce la capacidad del crucero">*@
                        </div>
                    </div>
                    @*<label>Imagen:</label>*@
                    @*@Html.TextBoxFor(m => m._imagen, null, new { @type = "file", @class = "form-control", @placeholder = "Introduce la imagen del crucero", @id = "imagen" })*@
                </div>
                <div class="col-md-12" style="margin-top:10px;">
                    <button type="button" id="guardar_crucero" class="btn btn-success" style="display:block; margin-left:auto; margin-right:auto;">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $("#guardar_crucero").click(function (e) {
            e.preventDefault();
            var form = $("#formGuardarCrucero");
            $.ajax({
                url: "gestion_cruceros/guardarCrucero",
                data: form.serialize(),
                type: 'POST',
                success: function (data) {
                    $.ajax({
                        url: '/gestion_cruceros/M24_ListarCruceros',
                        type: 'GET',
                        data: '',
                        success: function (data, textStatus, jqXHR) {
                            $("#contenido").empty();
                            $("#contenido").append(data);
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert(errorThrown);
                        }
                    });
                    $('#formGuardarCrucero')[0].reset();
                },
                error: function (data) {
                    console.log(data);
                    $('#formGuardarCrucero')[0].reset();
                }
            });
        });
    </script>
}
