    <div class="row">
        <!-- left column -->
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Deshabilitar Hotel</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form">
                    <div class="box-body">
                        <div class="form-group">
                            Nombre
                            <input type="nombre" class="form-control" id="nombreHotel" placeholder="Introduzca nombre">
                        </div>
                        <!--/div box-body-->



                    </div>

                    <!-- /.box-body -->
                    <div class="box-footer">

                        <div class="pull-right">
                            <button type="sumbit" class="btn btn-success">Enviar</button>
                            <button type="button" class="btn btn-danger">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>