<div class="row">
    <!-- Agregar Comida a un Vuelo -->
    <div class="col-xs-6">
        <div class="box-header with-border">
            <h1 class="box-title"> Agregar Comida-Bebida a un Vuelo</h1>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <label for="idvuelo">Seleccione un Vuelo:</label>
                        <select class="form-control" id="idvuelo">
                            <option>V-54239</option>
                            <option>S-47593</option>
                        </select>
                        <label for="horaSalida">Hora Salida: </label>
                        <input type="text" class="form-control" id="horaSalida" disabled>
                        <label for="horaLlegada">Hora Llegada: </label>
                        <input type="text" class="form-control" id="horaLlegada" disabled>
                        <label for="comida">Comidas a Asignar: </label>
                        <input type="text" class="form-control" id="numeroComida" disabled>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>

    </div>
    <div class="col-xs-6">
        <div class="box-header with-border">
            <h1 class="box-title"></h1>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <label for="Turista"> Clase Turista:</label>
                        <input type="text" class="form-control" id="ClaseTurista" disabled>
                        <label for="Ejecutiva"> Clase Ejecutiva:</label>
                        <input type="text" class="form-control" id="ClaseEjecutiva" disabled>
                        <label for="Vip"> Clase VIP:</label>
                        <input type="text" class="form-control" id="ClaseVip" disabled>
                        <label for="Ejecutiva"> Bebidas a Asignar:</label>
                        <input type="text" class="form-control" id="ClaseEjecutiva" disabled>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>


    <!-- Fin Agregar Comida a un Vuelo -->
    <!-- Botón Guardar -->
    <div>&nbsp;</div>
    <div class="col-md-12" style="margin-top:10px;">
        <button type="button" id="save_vehicle" class="btn btn-success" style="display:block; margin-left:auto; margin-right:auto;">Guardar</button>
    </div>
</div>
