<div class="row">
    <link rel="stylesheet" href="../../plugins/datatables/dataTables.bootstrap.css">

    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title"> Lista de Platos </h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Tipo</th>
                            <th>Estatus</th>
                            <th>Descripcion</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @try
                        {
                            foreach (var item in Model)
                            {
                                String estatus;
                                if (item._estatusPlato == 1) { estatus = "Disponible"; } else { estatus = "No disponible"; }

                                <tr id="@item._nombrePlato">
                                    <td>@item._tipoPlato</td>
                                    <td>@estatus</td>
                                    <td>@item._descripcionPlato</td>
                                    <td>
                                        <a href="#" title="Consultar"> <i class="fa fa-eye consultar"></i></a>
                                        <a href="#" title="Modificar"><i class="fa fa-pencil modificar"></i></a>
                                        @if (item._estatusPlato == 1)
                                        {
                                            <a href="#" title="No Disponible"><i class="fa fa-times nodisponible" ></i></a>
                                        }
                                        else
                                        {
                                            <a href="#" title="Disponible"><i class="fa fa-check dispobible"></i></a>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                        catch
                        {

                        }

                    <tfoot>
                        <tr>
                            <th>Nombre</th>
                            <th>Tipo</th>
                            <th>Estatus</th>
                            <th>Descripcion</th>
                            <th>Opciones</th>>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>

<script src="../../Content/plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="../../Content/bootstrap/js/bootstrap.min.js"></script>
<!-- DataTables -->
<script src="../../Content/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../Content/plugins/datatables/dataTables.bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="../../Content/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="../../Content/plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="../../Content/dist/js/app.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
<!-- page script -->

<script language="javascript" type="text/javascript">
    $(".modificar").click(function () {
        console.log("hola");
        var identificador = $(this).parent().parent().parent().attr("id");
        jQuery.ajax({
            type: "GET",
            url: "/gestion_comida_vuelo/M06_EditarComida",
            data: { id: identificador }
        }).done(function (data) {
            $("#contenido").empty();
            $("#contenido").append(data);
        }).fail(function () {

        });


    });
    $(".nodisponible").click(function () {
        console.log("hola");
        var identificador = $(this).parent().parent().parent().attr("id");
        jQuery.ajax({
            type: "POST",
            url: "/gestion_comida_vuelo/nodisponibleComida",
            data: { id: identificador }
        }).done(function (data) {
            var url = '/gestion_comida_vuelo/M06_VisualizarComidas';
            var method = 'GET';
            var data = '';
            $.ajax(
                {
                    url: url,
                    type: method,
                    data: data,
                    success: function (data, textStatus, jqXHR) {

                        $("#contenido").empty();
                        $("#contenido").append(data);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
        }).fail(function () {
            alert("Error en la base de datos");
        });
    });
    $(".disponible").click(function () {
        console.log("hola");
        var identificador = $(this).parent().parent().parent().attr("id");
        jQuery.ajax({
            type: "POST",
            url: "/gestion_comida_vuelo/disponibleComida",
            data: { id: identificador }
        }).done(function (data) {
            var url = '/gestion_comida_vuelo/M06_VisualizarComidas';
            var method = 'GET';
            var data = '';
            $.ajax(
                {
                    url: url,
                    type: method,
                    data: data,
                    success: function (data, textStatus, jqXHR) {

                        $("#contenido").empty();
                        $("#contenido").append(data);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
        }).fail(function () {
            alert("Error en la base de datos");
        });
    });
 </script>