
﻿@model BOReserva.Models.gestion_comida_vuelo.CEditarComida
<script src="~/Scripts/Scripts_ComidaVuelo/llamadas_generales.js"></script>
@using (Html.BeginForm("guardarPlato", "gestion_comida_vuelo", null, FormMethod.Post, new { @id = "formGuardarPlato", @class = "form-horizontal" }))
{

<div class="row">
    <!-- Modificar Estatus -->
    <div class="col-xs-6">
        <div class="box-header with-border">
            <h1 class="box-title"> Modificar Estatus </h1>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <label for="tipoPlato">Tipo:</label>
                        @Html.TextBoxFor(m => m._tipoPlato, new { @class = "form-control", @placeholder = "Tipo ", @id = "tipoPlato", @readonly = "readonly" })
                        <label for="nombrePlato">Nombre:</label>
                        @Html.TextBoxFor(m => m._nombrePlato, null, new { @class = "form-control", @placeholder = "Pasta Carbonara", @id = "nombrePlato", @readonly = "readonly" })
                        
                    </div>
                    
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <!-- /.box-body -->
    <div class="col-xs-6">
        <div class="box-header with-border">
            <h1 class="box-title"></h1>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <label for="estatusPlato">Estatus:</label>
                        @{
                            List<SelectListItem> _estatusPlato = new List<SelectListItem>();
                            _estatusPlato.Add(new SelectListItem
                                 {
                                     Text = "Disponible",
                                     Value = "Disponible"
                                 });
                            _estatusPlato.Add(new SelectListItem
                                 {
                                     Text = "No Disponible",
                                     Value = "No Disponible",
                                 });
                        }
                        @Html.DropDownListFor(m => m._estatusPlato, _estatusPlato, new { @class = "form-control", @placeholder = "Estatus", @id = "estatusPlato" })
                    </div>
                    <br>
                    <br>
                    <div class="box-body">
                        <div class="row">
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.box-body -->
            </div>        
        </div>
        <!-- /.box-body -->
        
    </div>
    <!-- Fin Modificar Estatus  -->
    <!-- Botón Guardar -->
    <div>&nbsp;</div>
    <div class="col-md-12" style="margin-top:10px;">
        <div class="col-md-4"></div>
        <div class="col-md-2">
            <button type="button" id="modificarPlato" class="btn btn-success" style="display:block; margin-left:auto; margin-right:auto;">Guardar</button>
        </div>
        <div class="col-md-2">
            <button id="cancelarModificacion" type="button" class="btn btn-danger" style="display:block; margin-left:auto; margin-right:auto;">Cancelar</button>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
    
}

﻿<div class="row">
    <!-- Modificar Estatus -->
    <div class="col-xs-6">
        <div class="box-header with-border">
            <h1 class="box-title"> Modificar Estatus </h1>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <label for="agregarEditarComida">Tipo:</label>
                        <select class="form-control" id="idcomida">
                            <option>Comida</option>
                            <option>Bebida</option>
                        </select>
                        <label for="agregarEditarComida">Nombre:</label>
                        <select class="form-control" id="idcomida">
                            <!--<option></option>
                            <option></option> -->
                        </select>
                        
                    </div>
                    
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <!-- /.box-body -->
    <div class="col-xs-6">
        <div class="box-header with-border">
            <h1 class="box-title"></h1>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <label for="agregarEditarComida">ID:</label>
                        <input type="text" class="form-control" id="agregarEditarComida" disabled>
                        <label for="agregarEditarComidao">Estatus:</label>
                        <select class="form-control" id="idcomida">
                            <option>Disponible</option>
                            <option>No Disponible</option>
                        </select>
                    </div>
                    <br>
                    <br>
                    <div class="box-body">
                        <div class="row">
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.box-body -->
            </div>        
        </div>
        <!-- /.box-body -->
        
    </div>
    <!-- Fin Modificar Estatus  -->
    <!-- Botón Guardar -->
    <div>&nbsp;</div>
    <div class="col-md-12" style="margin-top:10px;">
        <button type="button" id="save_vehicle" class="btn btn-success" style="display:block; margin-left:auto; margin-right:auto;">Guardar</button>
    </div>
</div>

