@model BOReserva.Models.gestion_comida_vuelo.CAgregarComida

@using (Html.BeginForm("guardarPlato", "gestion_comida_vuelo", null, FormMethod.Post, new { @id = "formGuardarPlato", @class = "form-horizontal" }))
{

      
<div class="row">
    <!-- Agregar Comida  -->
    <div class="col-xs-6"> 
        <div class="box-header with-border">
            <h1 class="box-title"> Agregar Comida-Bebida</h1>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <label for="nombrePlato">Nombre del Plato (<span style="color:red">*</span>):</label>
                         @Html.TextBoxFor(m => m._nombrePlato, null, new { @class = "form-control", @placeholder = "Pasta Carbonara", @id = "nombrePlato" })
                        <label for="descripcionPlato">Descripcion (<span style="color:red">*</span>):</label>
                        @Html.TextAreaFor(m => m._descripcionPlato,'0','0', new { @class = "form-control", @placeholder = "Descripcion del Plato", @id = "descripcionPlato" })
                         </div>
                </div>
                <!-- /.box-body -->
            </div>
    </div>
   
    </div>
    <div class="col-xs-6">
        <div class="box-header with-border">
            <h1 class="box-title"></h1>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <label for="agregarEditarComida">Tipo (<span style="color:red">*</span>):</label>
                        <select class="form-control" id="idcomida">
                            <option>Selecciona uno</option>
                            <option>Comida</option>
                            <option>Bebida</option>
                        </select>
                        <label for="agregarEditarComidao">Estatus (<span style="color:red">*</span>):</label>
                        <select class="form-control" id="idcomida">
                            <option>Selecciona uno</option>
                            <option>Disponible</option>
                            <option>No Disponible</option>
                        </select>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
    <!-- Fin Agregar Comida  -->
    
    <!-- Botón Guardar -->
    <div>&nbsp;</div>
    <div class="col-md-12" style="margin-top:10px;">
        <button type="button" id="aceptarPlato" class="btn btn-success" style="display:block; margin-left:auto; margin-right:auto;">Guardar</button>
    </div>

    <script>
        $("#aceptarPlato").click(function (e) {
            console.log("hola!");
            e.preventDefault();
            var form = $("#formGuardarPlato");
            $.ajax({
                url: "gestion_comida_vuelo/guardarPlato",
                data: form.serialize(),
                type: 'POST',
                success: function (data) {
                    alert("Se guardo");
                    $('#formGuardarPlato')[0].reset();
                }
                , error: function (xhr, textStatus, exceptionThrown) {
                    //muestro el texto del error
                    alert(xhr.responseText);
                }
            });
        });
    </script>

</div>
}

