<div class="row">
    <div class="box-header with-border">
        <h1 class="box-title"> Agregar-Modificar Comida</h1>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"></button>
        </div>
    </div>

    <div class="col-xs-6">

        <!-- Agregar Comida  -->
        <div class="box-header with-border">
            <h1 class="box-title"> Agregar Comida-Bebida</h1>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <label for="agregarEditarComida">ID Comida:</label>
                        <input type="text" class="form-control" id="agregarEditarComida" disabled>
                        <label for="agregarEditarComida">Nombre del Plato:</label>
                        <input type="text" class="form-control" id="agregarEditarComida">
                        <label for="agregarEditarComida">Tipo:</label>
                        <select class="form-control" id="idcomida">
                            <option>Comida</option>
                            <option>Bebida</option>
                        </select>
                        <label for="agregarEditarComidao">Estatus:</label>
                        <select class="form-control" id="idcomida">
                            <option>Disponible</option>
                            <option>No Disponible</option>
                        </select>
                        <label for="agregarEditarComida">Descripcion:</label>
                        <input type="text" class="form-control" id="agregarEditarComida">
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            
                <div class="col-xs-6 col-md-4"></div>
                <div class="col-xs-6 col-md-4"><div class="col-md-12" style="margin-top:10px;">
    <button type="button" id="save_vehicle" class="btn btn-success" style="display:block; margin-left:auto; margin-right:auto;">Guardar</button>
</div></div>
                <div class="col-xs-6 col-md-4"></div>
        </div>
        <!-- /.box-body -->
        <!-- Fin Agregar Comida  -->
    </div>

    <div class="col-xs-6">
        <!-- Modificar Estatus -->
        <div class="box-header with-border">
            <h1 class="box-title"> Modificar Comida-Bebida </h1>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <label for="agregarEditarComida">Tipo:</label>
                        <select class="form-control" id="idcomida">
                            <option>Comida</option>
                            <option>Bebida</option>
                        </select>
                        <label for="agregarEditarComida">Nombre:</label>
                        <select class="form-control" id="idcomida">
                            <option>Comida</option>
                            <option>Bebida</option>
                        </select>
                        <label for="agregarEditarComida">ID:</label>
                        <input type="text" class="form-control" id="agregarEditarComida" disabled>
                        <label for="agregarEditarComidao">Estatus:</label>
                        <select class="form-control" id="idcomida">
                            <option>Disponible</option>
                            <option>No Disponible</option>
                        </select>
                    </div>
                    <br>
                    <br>
                    <div class="box-body">
                        <div class="row">

                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.box-body -->
            </div>
            <div class="col-xs-6 col-md-4"></div>
            <div class="col-xs-6 col-md-4">
                <div class="col-md-12" style="margin-top:10px;">
                    <button type="button" id="save_vehicle" class="btn btn-success" style="display:block; margin-left:auto; margin-right:auto;">Guardar</button>
                </div>
            </div>
            <div class="col-xs-6 col-md-4"></div>
        </div>
        <!-- /.box-body -->
        <!-- Fin Estatus  --> 
    </div>

</div>
