
<div class="col-md-8 col-lg-3">
    <div class="box box-danger">
        <div class="box-header with-border">
            <h1 class="box-title"> Agregar Comida</h1>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <label for="matriculaAvionFallo">ID Comida:</label>
                        <input type="text" class="form-control" id="matriculaAvionFallo" disabled>
                        <label for="matriculaAvionFallo">Nombre del Plato:</label>
                        <input type="text" class="form-control" id="matriculaAvionFallo">
                        <label for="matriculaAvionFallo">Tipo:</label>
                        <select class="form-control" id="idvuelo">
                            <option>Desayuno</option>
                            <option>Almuerzo</option>
                            <option>Cena</option>
                        </select>
                        <label for="matriculaAvionFallo">Descripcion:</label>
                        <input type="text" class="form-control" id="matriculaAvionFallo">
                    </div>
                    <br>
                    <br>
                    <div class="box-body">
                        <div class="row">

                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.box-body -->
            </div>
            <div class="col-md-12" style="margin-top:10px;">
                <button type="button" class="btn btn-success" style="display:block; margin-left:auto; margin-right:auto;">Asignar</button>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</div>


<div class="content-wrapper">

    <div class="col-md-8 col-lg-4 col-lg-offset-0">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h1 class="box-title"> Agregar Bebida </h1>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <label for="matriculaAvionFallo">ID Bebida:</label>
                            <input type="text" class="form-control" id="matriculaAvionFallo" disabled>
                            <label for="matriculaAvionFallo">Nombre de la Bebida:</label>
                            <input type="text" class="form-control" id="matriculaAvionFallo">
                            <label for="matriculaAvionFallo">Tipo:</label>
                            <select class="form-control" id="idvuelo">
                                <option>Agua</option>
                                <option>Gaseosa</option>
                                <option>Jugo</option>
                                <option>Soda</option>
                                <option>Vino</option>
                            </select>
                            <label for="matriculaAvionFallo">Descripcion:</label>
                            <input type="text" class="form-control" id="matriculaAvionFallo">
                        </div>
                        <br>
                        <br>
                        <div class="box-body">
                            <div class="row">

                            </div>
                            <!-- /.col -->

                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="col-md-12" style="margin-top:10px;">
                    <button type="button" class="btn btn-success" style="display:block; margin-left:auto; margin-right:auto;">Asignar</button>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
    <div class="col-md-8 col-lg-4">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h1 class="box-title"> Modificar Comida </h1>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <label for="matriculaAvionFallo">ID:</label>
                            <input type="text" class="form-control" id="matriculaAvionFallo" disabled>
                            <label for="matriculaAvionFallo">Nombre:</label>
                            <input type="text" class="form-control" id="matriculaAvionFallo">
                            <label for="matriculaAvionFallo">Estatus:</label>
                            <input type="text" class="form-control" id="matriculaAvionFallo">
                        </div>
                        <br>
                        <br>
                        <div class="box-body">
                            <div class="row">

                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="col-md-12" style="margin-top:10px;">
                    <button type="button" class="btn btn-success" style="display:block; margin-left:auto; margin-right:auto;">Asignar</button>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>