<ul>
    <li><a tabindex="-1" href="#"><i class="fa fa-history"></i> .... </a></li>
    <li class="divider"></li>
    <li><a tabindex="-1" href="#"><i class="fa fa-bookmark"></i> ....</a></li>
    <li><a tabindex="-1" href="#"><i class="fa fa-edit"></i> ....</a></li>
    <li><a onclick="cargarContenido('#CI', 'get', '/gestion_reserva_habitaciones/mis_reservas', null, this)" href="#"><i class="fa fa-cog"></i> Mis Reservas </a></li>
    <li class="divider"></li>
    <li><a tabindex="-1" href="#"><i class="glyphicon glyphicon-off"></i> LOGOUT</a></li>
</ul>