<div class="row">
    <center>
        <h1><i class="fa fa-exclamation-circle orange" aria-hidden="true"></i> Lo sentimos, el restaurante que seleccionó no está disponible</h1>
        @*<a class="btn btn-primary" role="button">Nueva Búsqueda</a>*@
    </center>
</div>