@{
    ViewBag.Title = "confirma_restaurant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- FEATURED GRID -->
<div class="row"> <center><h1>Su reserva ha sido realizada exitosamente!</h1></center></div>
<div class="row">
    <div class="panel panel-default col-sm-5">
        <div class="panel-heading">
            <h2 class="panel-title">Detalles de la Reserva</h2>
        </div>
        <div class="panel-body center-block detalle_reserva_restaurant">
            <i class="fa fa-user" aria-hidden="true"></i> <p><span>A nombre de: </span>Pepito Perez Greco</p>
            <i class="fa fa-calendar-check-o" aria-hidden="true"></i><p><span>Fecha: </span>Viernes, 25/11/16</p>
            <i class="fa fa-clock-o" aria-hidden="true"></i> <p><span>Hora: </span>20:00</p>
            <i class="fa fa-users" aria-hidden="true"></i> <p><span>Mesa para: </span>2</p>
            <center> <a href="reservas_restaurantes.html">Mis Reservas</a></center>
        </div>

    </div>

    <div class="col-sm-7">
        <div class="relative">
            <div style="height: 443.6px;background-image: url('assets/images/demo/restaurant/foto.jpg');background-repeat: no-repeat;background-size: cover;">
                <div class="absolute text-left">
                    <h2>  <b>Paradís Madrid</b>  </h2>
                    <p style="color: #fff;">Madrid</p>
                    <p style="color: #fff;" class="font-lato margin-top-30 size-16 hidden-sm hidden-xs"><b>Dirección: </b> Marqués de Cubas, 14 Centro 28014 Madrid.</p>
                </div>
            </div>
        </div>

    </div>

</div>
<!-- /FEATURED GRID -->