@{
    ViewBag.Title = "Error de Conexión";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<center>
    <h1><i class="fa fa-exclamation-circle orange" aria-hidden="true"></i> Lo sentimos, ha habido un problema con la conexi&oacute;n!</h1>
    <h2>Revise su conexi&oacute;n e intente de nuevo</h2>
</center>
