<div class="heading-title">
    <h3><span>Restaurante</span></h3>
</div>

<fieldset>
    <!-- required [php action request] -->
    <input type="hidden" name="action" value="contact_send" />
    <div class="row">

        <div class="col-lg-12">
            <center> ¡Reserva en los mejores restaurantes de tu ciudad!</center>
        </div>
    </div>
    <!-- FORMULARIO PARA BUSQUEDA DE RESTAURANTE POR NOMBRE O CIUDAD -->
    @using (Html.BeginForm("restaurant_resultados", "gestion_reserva_restaurante", FormMethod.Get, new { @id = "rest_form" }))
    {
        <div class="row" style="margin-top: 20px;">
            <div class="col-lg-12">
                <center>
                    <div class="input-group top_separate" style="width:100%;">
                        <div class="form-group-md">
                            <select id="search_val" name="search_val" class="form-control rest_sel" data-selected="" style="width:20%;">
                                <option value="0">Bucar por:</option>
                                <option value="1">Ciudad</option>
                                <option value="2">Restaurante</option>
                            </select>
                            <input type="text" id="name_rest" name="name_rest" class="form-control rest_inp" placeholder="¿Dónde quieres comer?" style="width:80%;" required>
                            <!-- DIV OCULTOS  PARA VALIDACIONES-->
                            <div id="val_null" style="display: none;" class="has-error error">
                                <p><i class="fa fa-times-circle" aria-hidden="true"></i> Debe seleccionar un tipo de búsqueda</p>
                            </div>
                            <div id="name_empty" style="display: none;" class="has-error error">
                                <p><i class="fa fa-times-circle" aria-hidden="true"></i> Debe escribir el nombre de un restaurante o Ciudad</p>
                            </div>
                
                            <div id="name_format" style="display: none;" class="has-error error">
                                <p><i class="fa fa-times-circle" aria-hidden="true"></i> El campo solo debe contener caracteres alfanuméricos</p>
                            </div>
                        </div>

                    </div>
                </center>
            </div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-12 text-center">
                <input type="button" id="buscar_restaurante" value="Buscar" class="btn btn-primary">
            </div>
        </div>
    }
</fieldset>


<script type="text/javascript">
    $(document).ready(function () {
        $("#buscar_restaurante").on("click", function () {
            $(".error").hide();
            $("#search_val").removeClass("has-error");
            $("#name_rest").removeClass("has-error");
            var nombre = $("#name_rest").val();
            var tipo = $("#search_val").val();
            var caracteres = /^[a-zA-Z0-9\s]+$/;

            var win = true;

            if (nombre == "" || nombre == undefined || ! nombre.match(caracteres)) {

                if (nombre == "" || nombre == undefined) {
                    $("#name_rest").addClass("has-error");
                    $("#name_empty").fadeIn();
                    win = false;
                }
                else {
                    $("#name_rest").addClass("has-error");
                    $("#name_format").fadeIn();
                    win = false;
                }
            }
            if (tipo == 0) {
                var win = false;
                $("#search_val").addClass("has-error");
                $("#val_null").fadeIn();
                win = false;
            }

            if (win) {
                $("#rest_form").submit();
            }
            else
                return false;
        });

    });
</script>



<!--<script>
        $("#buscar_restaurante").click(function (e) {
        e.preventDefault();
        var form = $("#formBuscarRestaurante");
        $.ajax({
            url: "gestion_reserva_restaurante/buscar_restaurante",
            data: form.serialize(),
            type: 'POST',
            success: function (data) {

                //alert("Buscando...");
                /*$('#formBuscarVuelos')[0].reset();*/
            }
        });
    });
</script>            -->
@*</form>*@
