<!-- Indico que para esta vista, M04_GestionVuelo_Crear, utilizare el modelo Models/gestion_vuelo/CGestionVuelo-->
@model BOReserva.Models.gestion_vuelo.CrearVueloMO

<script src="~/Scripts/Scripts_Vuelos/llamadas_generales_Vuelos.js"></script>
<link rel="stylesheet" href="~/Content/M04_css/style_module.css" type="text/css" />
@using (Html.BeginForm("guardarVuelo", "gestion_vuelo", null, FormMethod.Post, new { @id = "formGuardarVuelo3", @class = "form-horizontal" }))
{
    <div class="row">
        <div class="col-md-12">
            <h1>
                Gestion de vuelos
                <small>Crear un vuelo</small>
            </h1>
            <div class="box box-solid">
                <div class="box box-solid">
                    <div class="box-tools pull-right">

                    </div>
                </div>
                <div>&nbsp;</div>
                <div class="stepwizard">
                    <div class="stepwizard-row setup-panel">
                        <div class="stepwizard-step">
                            <a href="#" type="button" class="btn btn-default btn-circle" disabled="disabled" onclick="return false;">1</a>
                            <p>Vuelo</p>
                        </div>
                        <div class="stepwizard-step">
                            <a href="#" type="button" class="btn btn-default btn-circle" disabled="disabled" onclick="return false;">2</a>
                            <p>Avión</p>
                        </div>
                        <div class="stepwizard-step">
                            <a href="#" type="button" class="btn btn-primary btn-circle" onclick="return false;">3</a>
                            <p>Detalles</p>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12" style="margin-top:10px;">
                            
                        </div>
                        <div>&nbsp;</div>
                        <div class="col-md-12" style="margin-top:10px;">
                            <div class="col-xs-6">
                                <!-- TEXTBOXFOR MODELO AVION -->
                                <label> Modelo avion:</label>
                                <!--desabilitado por que lleno con script y pertenece a otra tabla-->
                                @Html.TextBoxFor(m => m._modeloAvion, null, new { @id = "modeloAvion", @class = "form-control", @disabled = "disabled" })
                            </div>
                            <!-- FIN MODELO AVION -->
                            <div class="col-xs-6">
                                <!-- TEXTBOXFOR CANTIDAD PASAJEROS -->
                                <label>Capacidad de pasajeros del avion:</label>
                                <!--desabilitado por que lleno con script y pertenece a otra tabla-->
                                @Html.TextBoxFor(m => m._pasajerosAvion, null, new { @class = "form-control", @id = "pasajerosAvion", @disabled = "disabled" })
                            </div>
                        </div>
                        <div>&nbsp;</div>
                        <!-- FIN CANTIDAD PASAJEROS -->
                        <div class="col-md-12" style="margin-top:10px;">
                            <!-- TEXTBOXFOR DISTANCIA MAXIMA VUELO AVION -->
                            <div class="col-xs-6">
                                <label>Distancia maxima de vuelo:</label>
                                <!--desabilitado por que lleno con script y pertenece a otra tabla-->
                                @Html.TextBoxFor(m => m._distanciaMaxima, null, new { @class = "form-control", @id = "distanciaMaxima", @disabled = "disabled" })
                            </div>
                            <!-- FIN DISTANCIA MAXIMA VUELO AVION -->
                            <!-- TEXTBOXFOR VELOCIDAD MAXIMA VUELO AVION -->
                            <div class="col-xs-6">
                                <label>Velocidad maxima:</label>
                                <!--desabilitado por que lleno con script y pertenece a otra tabla-->
                                @Html.TextBoxFor(m => m._velocidadMaxima, null, new { @class = "form-control", @id = "velocidadMaxima", @disabled = "disabled" })
                            </div>
                            <div>&nbsp;</div>
                            <!-- FIN TEXTBOXFOR VELOCIDAD MAXIMA VUELO AVION -->
                            <!-- BOTON GUARDAR-->
                            <div class="col-md-12" style="margin-top:10px;">
                                <button type="submit" id="agregarAW1" class="btn btn-success" style="display:block; margin-left:auto; margin-right:auto;">Siguiente</button>
                            </div>
                            <!--FIN BOTON GUARDAR-->
                        </div>

                        <div>&nbsp;</div>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
}
