@model FOReserva.Models.Autos.Cvista_ReservaAutos

<div class="col-sm-6">
    <div class="relative">
        <img src="@Url.Content("~/Content/assets/images/M19_Carro_Imagen_1.jpg/")" alt="" />
        <div class="absolute text-left">
            <h2>LOS MEJORES CARROS</h2>
        </div>
    </div>

    <div class="relative">
        <img src="@Url.Content("~/Content/assets/images/M19_Carro_Imagen_2.jpg/")" alt="" />
        <div class="absolute text-right">
            <h2>MÁS DE 100 COMPAÑIAS</h2>
        </div>
    </div>

</div>