@model BOReserva.Models.gestion_ofertas.CAgregarOferta

<script src="~/Scripts/Scripts_Ofertas/llamadas_generales.js"></script>
<!-----------------SECCION AGREGAR OFERTA-------------------->
@using (Html.BeginForm("guardarOferta", "gestion_ofertas", null, FormMethod.Post, new { @id = "formGuardarOferta", @class = "form-horizontal" }))
{
<div class="row">
    <div class="col-md-12">
        <div class="box box">
            <div class="box-header with-border">
                <h1 class="box-title"> Agregar Oferta</h1>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">

                        <div class="col-xs-4">
                            <label>Nombre de la Oferta (<span style="color:red">*</span>):</label>
                            @Html.TextBoxFor(m => m._nombreOferta, null, new { @class = "form-control", @placeholder = "Nombre Oferta", @id = "nombreOferta" })
                        </div>

                            <div class="col-xs-4">
                                <label>Fecha Inicio (<span style="color:red">*</span>):</label>

                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    @Html.TextBoxFor(m => m._fechaIniOferta, null, new { @class = "form-control datepicker required", @name = "fechaIniOferta", @type = "date" ,@id = "fInicio"})
                                    @*<input type="text" name="fechaIniOferta" value="" class="form-control datepicker required">*@

                                </div>
                                <!-- /.input group -->
                            </div>

                            <div class="col-xs-4">
                                <label>Fecha fin  (<span style="color:red">*</span>):</label>

                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    @Html.TextBoxFor(m => m._fechaFinOferta, null, new { @class = "form-control datepicker required", @name = "fechaFinOferta", @type = "date" ,@id = "fFin" })
                                    @*<input type="text" name="fechaFinOferta" value="" class="form-control datepicker required">*@

                                </div>
                                <!-- /.input group -->
                            </div>

                    </div>

                    

                    <div class="col-md-12" style="margin-top: 25px;">

                        <div class="col-xs-4">
                            <label>Porcentaje de Oferta  (<span style="color:red">*</span>):</label>
                            @Html.TextBoxFor(m => m._porcentajeOferta, null, new { @class = "form-control", @placeholder = "%", @id = "porcentajeOferta", @type = "number", @min="1", @max="99" })
                        </div>

                        <div class="col-xs-4">
                            <label>Estatus:</label>
                            <select id="estadoOferta" class="form-control">
                                <option value="0">Inactivo</option>
                                <option value="1">Activo</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-12" style="margin-top: 25px;">

                        <div class="col-xs-4">
                            <label>Paquetes:</label>
                            <select id="paquetesMultiselect" class="form-control select2 select2-hidden-accessible" multiple="" data-placeholder="Auto" style="width: 100%;" tabindex="-1" aria-hidden="true">
                                @*Opciones cargadas con js*@
                            </select>

                        </div>
                        
                    </div>
                    <div class="col-md-12">

                        <button type="button" class="btn btn-success" id="btnGuardarOferta" style="display:block; margin-left:auto; margin-right:auto; margin-top: 25px;">Guardar</button>

                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
}
<!-----------------FIN SECCION AGREGAR OFERTA-------------------->
<script>
    function validarEstarFechas() {
            if (($("#fInicio").val() == "") || ($("#fFin").val() == "")) {
                alert('La Oferta debe tener fecha inicio y fecha fin!');
                return false;
            }
        return true;
    }

    //Valida que el nombre y precio no esten vacios
    function validarCamposVacios() {
        if (($("#nombreOferta").val() == "") || ($("#porcentajeOferta").val() == "")) {
            alert('Debes llenar el nombre y porcentaje de la Oferta!');
            return false;
        }
        return true;
    }
    //Compara todas las fechas introducidas
    function compararFechas() {
        if (!validarFechas($("#fInicio").val(), $("#fFin").val())) {
            alert('La fecha fin debe ser mayor que la fecha inicio!');
            return false;
        }
        return true;
    }

    //Valida que la fecha inicio sea mayor que la fecha fin
    function validarFechas(fi, ff) {
        if ((new Date(fi).getTime() > new Date(ff).getTime())) {
            return false;
        }
        return true;
    }
</script>