<p>En construccion...</p>
<a onclick="cargarContenido('#resultado', 'get', '/gestion_reserva_habitaciones/mis_reservas', null, this)" href="#" class="btn btn-primary">Buscar</a>
<div id="resultado">

</div>