<<<<<<< HEAD
﻿<div class="row text-center">
    <div class="col-md-12">
        Cargando...
        <script type="text/javascript">
            cargarContenido('#MD', 'get', '/gestion_reserva_habitaciones/buscar_hoteles', null, this)
        </script>
    </div>
=======
﻿<div class="row text-center">
    <div class="col-md-12">
        Cargando...
        <script type="text/javascript">
            cargarContenido('#MD', 'get', '/gestion_reserva_habitaciones/buscar_hoteles', null, this)
        </script>
    </div>
>>>>>>> Develop
</div>