.pv10 {
    padding: 10px 0
}

#listaCruceros {
    min-height: 400px;
    margin-left: 27px;
    border-radius: 5px;
}

.crucero {
    border-bottom: 1px solid #f4f4f4;
}

.crucero:hover {
    background: #f4f4f4
}

.crTitles {
    border: 1px solid #337ab7;
    border-radius: 5px 5px 0 0;
    background: #3c8dbc;
    color: white;
}

.crTitles:hover {
    background: #3c8dbc;
}

.crTitles .crNombre,
.crTitles .crCompania,
.crTitles .crCapacidad,
.crTitles .crStatus,
.crTitles .crFechaf,
.crTitles .crFechai {
    border-right: 1px solid #337ab7;
    padding: 5px 0;
}

.crNombre,
.crCompania,
.crCapacidad,
.crStatus,
.crFechaf,
.crFechai {
    border-right: 1px solid #f4f4f4;
    padding: 5px 0;
}

.crNombre {
    padding: 10px!important;
    width: 175px;
    display: inline-block;
    text-align:center;
}

.crNombre .fa {
    color: #ddd
}

.crCompania {
    width: 175px;
    display: inline-block;
    padding-left: 10px !important;
    text-align:center;
}

.crCapacidad {
    display: inline-block;
    width: 170px;
    text-align: center
}

.crStatus {
    width: 170px;
    /*display: inline-block;*/
    text-align: center;
}

.crFechaf,
.crFechai {
    width: 120px;
    display: inline-block;
    text-align: center;
}

.crAcciones {
    width: 170px;
    /*display: inline-block;*/
    text-align: center;
}

.listCru {
    overflow-y: scroll;
    height: calc(100vh - 285px);
    margin-bottom: 20px;
    border: 1px solid #eee;
    border-top: 0px;
}

.listCru .crNombre {
    width: 175px;
}

.listCru .crAcciones {
    width: 170px;
}

.crAcciones .fa {
    cursor: pointer
}

.crAcciones .fa-trash {
    background: #dd4b39;
    padding: 2px 5px;
    border-radius: 2px;
    color: white;
}

.crAcciones .fa-eye {
    background: #337ab7;
    padding: 2px 4px;
    border-radius: 2px;
    color: white;
}

.crAcciones .fa-check {
    background: #3c8dbc;
    padding: 2px 4px;
    border-radius: 2px;
    color: white;
}

.crAcciones .fa-times {
    background: #3c8dbc;
    padding: 2px 5px;
    border-radius: 2px;
    color: white;
}

.crAcciones .fa-pencil {
    background: #3c8dbc;
    padding: 2px 4px;
    border-radius: 2px;
    color: white;
}

.reservalogo img {
    max-width: 100%;
    max-height: 50px;
    position: absolute;
    left: 50px;
    top: -3px;
}

.crStatus .started,
#cabinList .started,
.itiList .started,
.camarote .started {
    color: #00a65a
}

.crStatus .paused,
#cabinList .paused,
.itiList .paused,
.camarote .paused {
    color: #dd4b39
}

#bodyCruc {
    height: calc(100vh - 181px);
    overflow-x: hidden;
}

#cabinList,
.itiList {
    height: 200px;
    overflow: hidden;
    overflow-y: scroll;
    border: 1px solid #d2d6de;
}

#cabinList .box,
.itiList .box {
    margin-bottom: 0
}

#cabinList ul,
.itiList ul {
    padding-left: 20px
}

#stopList {
    height: 161px;
    overflow: hidden;
    overflow-y: scroll;
    margin-bottom: 5px;
    border: 1px solid #d2d6de;
    padding-top: 10px;
}

.camarote {
    margin-bottom: 10px;
    position: relative
}
.itiList li .fa-times{color: #dd4b39;}
.itiList ul {list-style-type: decimal;}
.camarote .fa-times   {
    position: absolute;
    top: 3px;
    right: 5px;
    color: #dd4b39;
}

.box-header.with-border {
    cursor: pointer
}

/*.box-header.with-border .fa-times {
    position: absolute;
    top: 13px;
    right: 15px;
    color: #dd4b39
}*/

/*.box-header.with-border .fa-pencil {
    position: absolute;
    top: 13px;
    right: 30px;
    color: #337ab7;
}*/

#camList {
    overflow: hidden;
    overflow-y: scroll;
    height: calc(100vh - 440px);
}

.itiList {
    height: calc(100vh - 290px);
    overflow: hidden;
    overflow-y: scroll; 
    border: 1px solid #ddd
}
.itiRuta{display: inline-block;
    width: 90px;}