@model FOReserva.Models.Diarios.CDiarioModel

@{
    ViewBag.Title = "Error al publicar Diario";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<script>
    function regreso() {
        window.history.back()
    }
</script>
<div class="row text-center">
    <h3><i class="fa fa-times-circle green"></i> <font color="black">Hubo un error al crear el diario</font></h3>
</div>
<div class="row text-center col-sm-12">
    <button class="btn btn-primary" onclick="regreso()  ">Regresar</button>
    <a class="btn btn-primary" href="/">Volver a Inicio</a>
</div>