@model FOReserva.Models.Diarios.CDiarioModel

<div class="heading-title">
    <h3><span>Diarios de Viaje</span></h3>
</div>
@*<div class="row text-center">
        <a href="#"><button type="button" class="btn btn-default btn-lg"><i class="fa fa-book"></i>Crear un Diario de Viaje</button></a>
    </div>*@
<div class="panel">
@using (Html.BeginForm("buscarDiarios", "gestion_diarios", null, FormMethod.Post, new { @id = "formBuscarDiarios", @class = "form-horizontal" }))
{
    <fieldset>

        <input type="hidden" name="action" value="contact_send" />

        <div class="row">
            <div class="form-group">
                <div class="col-sm-12">
                    <label>Nombre</label>
                    @Html.TextBoxFor(m => m.Nombre, null, new { @id = "nombreD", @class = "form-control required", @name = "diario[prueba]", @placeholder = "Buscar por nombre" })
                </div>
                <div id="prueba_null" style="display: none;" class="has-error error col-sm-12">
                    <p><i class="fa fa-times-circle" aria-hidden="true"></i> Escribir Texto</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-sm-12">
                    <label>Rango de fechas</label>
                    <input type="text" class="form-control" name="rangofecha" value="" readonly />
                    <!--Inicializar selector de rango de fechas-->
                    <script type="text/javascript">
                        $(function () {
                            $('input[name="rangofecha"]').daterangepicker({
                                locale: {
                                    format: 'YYYY-MM-DD',
                                    applyLabel: "Aplicar",
                                    cancelLabel: "Cancelar",
                                    fromLabel: "Desde",
                                    toLabel: "Hasta",
                                    customRangeLabel: "Personalizado",
                                    daysOfWeek: [
                                        "Do",
                                        "Lu",
                                        "Ma",
                                        "Mi",
                                        "Ju",
                                        "Vi",
                                        "Sa"
                                    ],
                                    monthNames: [
                                        "Enero",
                                        "Febrero",
                                        "Marzo",
                                        "Abril",
                                        "Mayo",
                                        "Junio",
                                        "Julio",
                                        "Agosto",
                                        "Septiembre",
                                        "Octubre",
                                        "Noviembre",
                                        "Diciembre"
                                    ],
                                    firstDay: 1
                                }
                            });
                        });
                    </script>
                </div>
                <!--Inputs ocultos de fechas para el formulario-->
                <div>
                    @Html.TextBoxFor(m => m.Fecha_ini, null, new { @id = "f_ini", @class = "form-control required", @name = "diario[f_inicio]", @type = "hidden", @value = "" })
                </div>
                <div>
                    @Html.TextBoxFor(m => m.Fecha_fin, null, new { @id = "f_fin", @class = "form-control required", @name = "diario[f_fin]", @type = "hidden", @value = "" })
                </div>

                <div id="fec_null" style="display: none;" class="has-error error col-sm-6">
                    <p><i class="fa fa-times-circle" aria-hidden="true"></i> Escribir Fecha</p>
                </div>
                <div id="fec_formato" style="display: none;" class="has-error error col-sm-6">
                    <p><i class="fa fa-times-circle" aria-hidden="true"></i> Formato inv&aacute;lido</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-sm-12">
                    <label>Lugares</label>
                    
                    <select id="list_lugar" class="form-control">
                        @*@foreach (var ciudad in )
                        {*@
                        <option value="0">Caracas</option>
                        @*}*@
                    </select>
                </div>
            </div>
        </div>

    </fieldset>

<div class="row text-center">
    <div class="col-md-12">
        <button type="button" id="buscarDiarios" class="btn btn-primary"><i class="fa fa-search"></i>Buscar</button>
    </div>
</div>
<script>
    //Unificación del jQuery para búsqueda. ESTO SE PONDRÁ EN UN .js
    function buscar(a) {
        a.preventDefault();
        var form = $("#formBuscarDiarios");
        $.ajax({
            url: "gestion_diarios/buscarDiarios",
            data: form.serialize(),
            type: 'POST',
            success: function (data) {
                $(".error").hide();
                $("#nombreD").removeClass("has-error");
                $("#f_ini").removeClass("has-error");
                $("#f_fin").removeClass("has-error");
                var texto = $("#nombreD").val();
                var inicio = $("#f_ini").val();
                var fin = $("#f_fin").val();
                var formato = /^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/;

                var win = true;

                if (texto == "" || texto == undefined) {
                    $("#nombreD").addClass("has-error");
                    $("#prueba_null").fadeIn();
                    win = false;
                }
                if (inicio == "" || inicio == undefined || !inicio.match(formato)) {
                    if (inicio == "" || inicio == undefined) {
                        $("#f_ini").addClass("has-error");
                        $("#fec_null").fadeIn();
                        win = false;
                    }
                    else {
                        $("#f_ini").addClass("has-error");
                        $("#fec_formato").fadeIn();
                        win = false;
                    }
                }

                if (fin == "" || fin == undefined || !fin.match(formato)) {
                    if (fin == "" || fin == undefined) {
                        $("#f_fin").addClass("has-error");
                        $("#fec_null").fadeIn();
                        win = false;
                    }
                    else {
                        $("#f_fin").addClass("has-error");
                        $("#fec_formato").fadeIn();
                        win = false;
                    }
                }

                if (win) {
                    return true;
                    //form.submit();
                }
                else
                    alert(data);
                
                /*$('#formBuscarVuelos')[0].reset();*/
            }
        });
    }

    $("#buscarDiarios").click(function (e) { buscar(e) });      //Evento de click en el botón Buscar
    $("#formBuscarDiarios").submit(function (e) { buscar(e) }); //Evento general de submit (ej. presionar ENTER)

    jQuery(document).ready(function () {

        var url = '/gestion_diarios/gestion_diarios_resultados';
        var method = 'GET';
        var data = '';
        $.ajax(
            {
                url: url,
                type: method,
                data: data,
                dataType: "html",
                success: function (data, textStatus, jqXHR) {

                    $("#resultados").empty();
                    $("#resultados").html(data);


                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
    });
</script>
}
</div>

<section>
    <div id="resultados" class="container">
    
        <div class="row">
            <!-- item -->
            <div class="col-md-1">
                <!-- company logo -->
                <img src="@Url.Content("~/Content/assets/images/noimage.jpg")" class="img-responsive img-thumbnail" alt="company logo">
            </div>
            <div class="col-md-10">
                <!-- company detail -->
                <h4 class="margin-bottom-10"><font color="black">Nombre</font></h4>
                <p>Descripcion</p>
                <button type="button" class="btn btn-primary">Ver el Diario Completo</button>
                <a href="#" class="text-success"><i class="fa fa-thumbs-up"></i> Like</a> <a href="#" class="text-danger"><i class="fa fa-thumbs-down"></i> Dislike</a>
            </div>
        </div><!-- /item -->

        <hr />
    
    </div>
</section>
