@model List<FOReserva.Models.Diarios.CDiarioModel>

@foreach (var item in Model)
{
    <div class="row">
        <!-- item -->
        <div class="col-md-1">
            <!-- company logo -->
            <img src="@Url.Content("~/Content/assets/images/noimage.jpg")" class="img-responsive img-thumbnail" alt="company logo">
        </div>
        <div class="col-md-5">
            <!-- company detail -->
            <h4 class="margin-bottom-10"><font color="black">@item.Nombre</font></h4>
            <p>@item.Descripcion</p>
            <button type="button" class="btn btn-primary">Ver el Diario Completo</button>
            <a href="#" class="text-success"><i class="fa fa-thumbs-up"></i> Like</a> <a href="#" class="text-danger"><i class="fa fa-thumbs-down"></i> Dislike</a>
        </div>
    </div><!-- /item -->
    <hr />
}