@model FOReserva.Models.Diarios.CDiarioModel

@{
    ViewBag.Title = "Resultados Restaurantes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="clearfix margin-bottom-60">

    <div class="border-bottom-1 border-top-1 padding-10">
        <span class="pull-right size-11 margin-top-3 text-muted">@Model.Fecha_carga.ToString("MMM d, yyyy")</span>
        <strong>@Model.Nombre</strong>
    </div>

    <div class="block-review-content">

        <div class="block-review-body">

            <div class="block-review-avatar text-center">
                <div class="push-bit">
                    <a href="page-profile.html">
                        <img src="assets/images/demo/Avatar.jpg" width="100" alt="avatar">
                    </a>
                </div>
                <small class="block">anon.5921</small>
                <small class="block">473 Posts</small>

                <hr />

                <div class="rating rating-4 size-13"><!-- rating-0 ... rating-5 --></div>
            </div>

            <p>
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Aliquam fermentum commodo magna, id pretium nisi elementum at. Nulla molestie, ligula in fringilla rhoncus, risus leo dictum est, nec egestas nunc sem tincidunt turpis. Sed posuere consectetur est at lobortis.
            </p>

            <p>
                Donec blandit ultrices condimentum. Aliquam fermentum commodo magna, id pretium nisi elementum at. Nulla molestie, ligula in fringilla rhoncus, risus leo dictum est, nec egestas nunc sem tincidunt turpis. Sed posuere consectetur est at lobortis.
            </p>

            <em>- Felicia Doe <br> CEO, Smarty</em>
        </div>

        <div class="border-bottom-1 border-top-1 padding-10">
            <span class="pull-right size-11 margin-top-3 text-muted">Puntaje: 67 | <a href="#" class="text-success"><i class="fa fa-thumbs-up"></i> Like</a> <a href="#" class="text-danger"><i class="fa fa-thumbs-down"></i> Dislike</a></span>
            <strong>Fecha de Inicio/Fin del viaje: 11/04/16 - 02/11/16</strong>
        </div>

    </div>

</div>