<style>
    .derecha {
        text-align: right;
    }

    .centro {
        text-align: center;
    }

    .margin-auto {
        margin-left: auto !important0;
        margin-right: auto !important0;
    }

    .btn-full {
        width: 100% !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
</style>

<script>
    var bandera = false;
    $('#btn-envio').hide();
    $('#genero').prop('disabled', true);

    function editar() {
        $('#nombre').prop('readonly', bandera);
        $('#apellido').prop('readonly', bandera);
        $('#cod-telefono').prop('readonly', bandera);
        $('#num-telefono').prop('readonly', bandera);
        $('#genero').prop('disabled', bandera);

        if (bandera) {
            $('#btn-envio').hide();
        }
        else {
            $('#btn-envio').show();
        }

        bandera = !bandera;
    }


    function validaCaracteres(e) {
        key = e.keyCode || e.which;
        tecla = String.fromCharCode(key).toLowerCase();
        letras = " abcdefghijklmnñopqrstuvwxyz";
        especiales = [45, 46, 95, 8];


        tecla_especial = false
        for (var i in especiales) {
            if (key == especiales[i]) {
                tecla_especial = true;
                break;
            }
        }

        if (letras.indexOf(tecla) == -1 && !tecla_especial)
            return false;
    }

    function validaNumero(e) {
        key = e.keyCode || e.which;
        tecla = String.fromCharCode(key).toLowerCase();
        letras = " 0123456789";
        especiales = [8];


        tecla_especial = false
        for (var i in especiales) {
            if (key == especiales[i]) {
                tecla_especial = true;
                break;
            }
        }

        if (letras.indexOf(tecla) == -1 && !tecla_especial)
            return false;
    }



</script>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3>Datos Personales</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 derecha">
            <button class="btn btn-primary margin-auto" id="editar" onclick="editar()">Editar</button>
        </div>
    </div>

    @using (Html.BeginForm("EditarPerfil", "registro_autenticacion", FormMethod.Post, new { @class = "nomargin sky-form", @id = "formularioRegistro" }))
    {

        <div class="row" style="margin-top: 20px !important;">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Correo:</label>
                    <input class="form-control" type="text" value="" readonly="readonly" />
                </div>

            </div>

            <div class="col-md-6">

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nombre:</label>
                    <input class="form-control" type="text" value='' readonly="readonly" id="nombre" name="nombre" maxlength="20" required="required" onkeypress="return validaCaracteres(event)" />
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Apellido:</label>
                    <input class="form-control" type="text" value='' readonly="readonly" id="apellido" name="apellido" maxlength="20" required="required" onkeypress="return validaCaracteres(event)" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Género:</label>
                    <select class="form-control" id="genero" name="genero">
                        @if (ViewData["Genero"].ToString() == "Hombre")
                        {
                            <option value="Masculino" selected>Masculino</option>
                            <option value="Femenino">Femenino</option>
                        }
                        else
                        {
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino" selected>Femenino</option>
                        }
                        <option value="No especificar">No especificar</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Número Telefónico:</label>
                        <div class="row">
                            <div class="col-md-4">
                                <input class="form-control" type="text" value='' readonly="readonly" id="cod-telefono" name="cod-telefono" maxlength="4" required="required" onkeypress="return validaNumero(event)" />
                            </div>
                            <div class="col-md-8" style="padding-left: 0px !important;">
                                <input class="form-control" type="text" value='' readonly="readonly" id="num-telefono" name="num-telefono" maxlength="7" required="required" style="max-width:255px !important;" onkeypress="return validaNumero(event)" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <hr />
            </div>
        </div>
        <div class="row" style="margin-top: 20px !important;">
            <div class="col-md-12 centro">
                <button type="submit" class="btn btn-primary margin-auto btn-full" id="btn-envio">Guardar</button>
            </div>
        </div>
    }
</div>
