@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.Title = "Olvidar Clave";
}

<script>
    function validaCorreo(e) {
        key = e.keyCode || e.which;
        tecla = String.fromCharCode(key).toLowerCase();
        letras = "abcdefghijklmnopqrstuvwxyz0123456789_-.";
        especiales = [8, 64];

        tecla_especial = false
        for (var i in especiales) {
            if (key == especiales[i]) {
                tecla_especial = true;
                break;
            }
        }

        if (letras.indexOf(tecla) == -1 && !tecla_especial)
            return false;
    }

    var error = '@ViewData["error"]';
    if (error.length > 3) {
        alert('@ViewData["error"]');
    }
</script>

<div class="container" id="contenedorCorreoRecupera" style="min-height:310px !important;">
    <div class="row container-form">
        <div class="col-md-6 col-md-offset-3">
            @using (Html.BeginForm("BuscarIdPregunta", "registro_autenticacion", FormMethod.Post, new { @class = "sky-form", @id = "formCorreoRecupera" }))
            {
                <div class="clearfix">
                    <h2>Recuperación de Contraseña</h2>
                    <!-- Email -->
                    <div class="form-group">
                        <label>Correo</label>
                        <label class="input margin-bottom-10">
                            <i class="ico-append fa fa-user"></i>
                            <input type="text" name="correo" id="correo" onkeypress="return validaCorreo(event)" placeholder="Ingrese su correo" required="required"/>
                        </label>
                        <!-- DIV OCULTOS  PARA VALIDACIONES-->
                        <div id="recCorreoEmpty" style="display: none;" class="has-error error">
                            <p><i class="fa fa-times-circle" aria-hidden="true"></i> Debe colocar su correo</p>
                        </div>

                        <div id="recCorreoFormat" style="display: none;" class="has-error error">
                            <p><i class="fa fa-times-circle" aria-hidden="true"></i> Correo inválido, debe tener &#64 y una dirección</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6 text-left">
                        <button type="submit" id="recCorreoBotonSubmit" class="btn btn-primary" style="margin-left:0px !important;"><i class="fa fa-check"></i>Solicitar nueva clave</button>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                        @*<button type="button" id="linkLogin" class="btn btn-primary"><i class="fa fa-check"></i>Volver</button>*@
                        <a class="btn btn-primary" href="@Url.Action("Login", "registro_autenticacion")">Volver</a>
                    </div>
                    <!-- DIV OCULTOS  PARA VALIDACIONES-->
                    <div id="recCorreoErrorEnFormulario" style="display: none;" class="has-error error">
                        <p><i class="fa fa-times-circle" aria-hidden="true"></i> Existen valores inválidos del formulario</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>