@model FOReserva.Models.Cruceros.CReserva_Cruceros

@{
    ViewBag.Title = "confirma_crucero";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
            <center><h1><i  aria-hidden="true"></i> Se ha reservado con exito</h1></center>
        </div>