@model FOReserva.DataAccess.Domain.CruceroPerfil

@{
    ViewBag.Title = "confirma_crucero";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
            <center><h1><i  aria-hidden="true"></i> Se ha reservado con exito</h1></center>
          <div class="row" style="margin-top: 20px;">
        <div class="col-md-12 text-center">
            <a class="btn btn-primary" href="@Url.Action("Perfil", "Perfil")">Mis Reservas</a>
        </div>
         </div>
        </div>