<style>
    .derecha {
        text-align: right;
    }

    .centro {
        text-align: center;
    }

    .margin-auto {
        margin-left: auto !important0;
        margin-right: auto !important0;
    }

    .btn-full {
        width: 100% !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
</style>

<script>

    function validaCaracteres(e) {
        key = e.keyCode || e.which;
        tecla = String.fromCharCode(key).toLowerCase();
        letras = " abcdefghijklmnñopqrstuvwxyz_-.0123456789";
        especiales = [8];


        tecla_especial = false
        for (var i in especiales) {
            if (key == especiales[i]) {
                tecla_especial = true;
                break;
            }
        }

        if (letras.indexOf(tecla) == -1 && !tecla_especial)
            return false;
    }

    error.style.display = 'none';
    i_error.style.display = 'none';
    function validarClaves() {
        var clave0 = document.getElementById("clave0");
        var clave1 = document.getElementById("clave1");
        var error = document.getElementById("error");
        var i_error = document.getElementById("i-error");
        error.style.display = 'none';
        i_error.style.display = 'none';

        if (clave0.value.length < 1 || clave1.value.length < 1) {
            error.style.display = 'block';
            i_error.style.display = 'block';
            i_error.innerHTML = "Debe completar todos los campos.";
        }
        else if (clave0.value != clave1.value) {
            error.style.display = 'block';
            i_error.style.display = 'block';
            i_error.innerHTML = "Las claves no coinciden.";
        }
        else if (clave0.value.length < 6 || clave0.value.length < 6) {
            error.style.display = 'block';
            i_error.style.display = 'block';
            i_error.innerHTML = "La clave debe ser mayor a 6 carácteres.";
        }
        else {
            document.forms["formularioCambiarClave"].submit();
        }
    }

</script>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3>Cambiar Clave</h3>
        </div>
    </div>
    <div class="row" style="margin-top:30px;">
        <div class="col-md-8 col-md-offset-2">
            
            @using (Html.BeginForm("CambiarClavePerfil", "registro_autenticacion", FormMethod.Post, new { @name="formularioCambiarClave", @class = "nomargin sky-form", @id = "formularioRegistro" }))
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Ingrese su nueva clave</label>
                            <input class="form-control" type="password" id="clave0" name="clave0" maxlength="20" onkeypress="return validaCaracteres(event)" required="required"/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Repita su clave nueva</label>
                            <input class="form-control" type="password" id="clave1" name="clave1" maxlength="20" onkeypress="return validaCaracteres(event)" required="required"/>
                            <p id="error"><i id="i-error" class="fa fa-times-circle" aria-hidden="true"></i></p>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 20px !important;">
                    <div class="col-md-12 centro">
                        <button type="button" class="btn btn-primary margin-auto btn-full" id="btn-envio" onclick="validarClaves()">Guardar</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
